# Python Data Structures

## Tuple
A tuple is a fixed-length, immutable sequence of Python objects. The easiest way to create one is with a comma-separated sequence of values:

In [2]:
tup = 1,2,3,4
tup

(1, 2, 3, 4)

In [4]:
tup = (1,2,3,4)
tup

(1, 2, 3, 4)

In [6]:
tup = 1,2,(1,2,3),4
tup

(1, 2, (1, 2, 3), 4)

In [7]:
tup = (1,2,(1,2,3),4)
tup

(1, 2, (1, 2, 3), 4)

A tuple can be created from an iterator using the keyword: tuple()

In [15]:
l1 = [1,2,3,4]
print(type(l1))
tup_from_list = tuple(l1)
tup_from_list

<class 'list'>

(1, 2, 3, 4)

In [19]:
s1 = 'python'
print(type(s1))
tup_from_string = tuple(s1)
tup_from_string

<class 'str'>

('p', 'y', 't', 'h', 'o', 'n')

In [24]:
print(tup_from_list[3])
print(tup_from_string[0])

4
p

### Tuples are immutable

In [25]:
tup = tuple(['foo', [1, 2], True])

# throws TypeError Exception
tup[0] = 'bar'

TypeError: 'tuple' object does not support item assignment

In [26]:
tup = tuple(['foo', [1, 2], True])

# Doesn't throw exception because we aren't modifying the tuple, we are modifying the list at position 1 in the tuple.
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [27]:
a = (1,2)
b = (3,4)
a + b

(1, 2, 3, 4)

In [28]:
(a + b) * 2

(1, 2, 3, 4, 1, 2, 3, 4)

### Unpacking Tuples

In [38]:
tup = 1,2,3,(4,5,6),7,'eight'
tup

(1, 2, 3, (4, 5, 6), 7, 'eight')

In [39]:
a,b,c,d,e,f = tup
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

1
2
3
(4, 5, 6)
7
eight

In [40]:
a,b,c,(d,e,f),g,h = tup
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

1
2
3
4
5
6
7
eight

In [44]:
# We can use '*' to unpack the rest of the elements into a list.
a,b, *c = tup
print(a)
print(b)
print(c)
print(type(c))

1
2
[3, (4, 5, 6), 7, 'eight']
<class 'list'>

In [47]:
# '_' is an expresive way to show that you don't care for the rest of the elemens and thus the will be discarded.
a,b, *_ = tup
print(a)
print(b)

1
2

In [49]:
a = [1,2,3]
b = a * 4
a.append(4)
print(b)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

## Lists

In [61]:
x = [4, None, 'foo']

In [62]:
# Doesn't have side efect.
# A new list is created. Creating a new list from two long lists is very expensive.
print(x + [1,2,3])
x

[4, None, 'foo', 1, 2, 3]

[4, None, 'foo']

In [63]:
# Has side efect.
# Is it less expensive than crewting a new list.
x.extend([1,2,3])
x

[4, None, 'foo', 1, 2, 3]

In [65]:
d1 = {1: 'uno', 2: 'dos', 3: 'tres'}

In [70]:
iter(d1.keys())

In [73]:
dict(zip((1,2,3), ('uno','dos','tres')))

{1: 'uno', 2: 'dos', 3: 'tres'}