# Ejercicio 2: HIVE.
Ejemplo de uso de HIVE sobre 2 sets de datos.

In [1]:
! mkdir -p /media/notebook/tp1-notebooks/ejer_2_hive

In [2]:
import os
os.chdir("/media/notebook/tp1-notebooks/ejer_2_hive")

In [3]:
! pwd

/media/notebook/tp1-notebooks/ejer_2_hive

In [4]:
! hadoop fs -mkdir -p /user/uned/databases/ejer2_hive

In [5]:
! hadoop fs -ls /user/uned/databases/

Found 1 items
drwxr-xr-x   - root supergroup          0 2019-11-12 00:29 /user/uned/databases/ejer2_hive

In [6]:
! hadoop fs -mkdir -p /user/uned/databases/ejer2_hive/external/TablaExternaGDP
! hadoop fs -mkdir -p /user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion

In [7]:
! hadoop fs -ls /user/uned/databases/ejer2_hive/external/

Found 3 items
drwxr-xr-x   - anonymous supergroup          0 2019-11-12 00:31 /user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion
drwxr-xr-x   - anonymous supergroup          0 2019-11-12 00:31 /user/uned/databases/ejer2_hive/external/TablaExternaGDP
-rw-r--r--   1 root      supergroup     205586 2019-11-11 23:51 /user/uned/databases/ejer2_hive/external/aux

## Creacion de la tablas
Creamos 2 tablas externas con LOCATION = a la ruta HDFS donde hemos dejado los ficheros con datos para que HIVE los lea al acceder a la tabla.

Creamos 2 tablas internas desde una select a la externa para que HIVE use los datos cargados en la externa.

Nos topamos con un problema: una de las columnas tiene '"' como separador de campo de texto y contiene  ',' dentro de dicho campo. Para que HIVE sea capaz de leer dicho campo como un solo campo usaremos el SerDe OpenCSVSerde segÃºn la documentacion de confluence: https://cwiki.apache.org/confluence/display/Hive/CSV+Serde

In [8]:
%%writefile create_aux_tables.hql

--Creamos la BD que contendra las tablas
CREATE DATABASE IF NOT EXISTS ejer2_hive
COMMENT 'BD para el ejercicio 2 del TP1'
LOCATION '/user/uned/databases/ejer2_hive';

--Borramos las tablas si existen.
DROP TABLE IF EXISTS ejer2_hive.TablaInternaGDP;
DROP TABLE IF EXISTS ejer2_hive.TablaExternaGDP;
DROP TABLE IF EXISTS ejer2_hive.TablaInternaEscolarizacion;
DROP TABLE IF EXISTS ejer2_hive.TablaExternaEscolarizacion;

--Creamos tabla aux en la BD ejer2_hive
CREATE EXTERNAL TABLE ejer2_hive.auxGDP ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
   "separatorChar" = ",",
   "quoteChar"     = "\"",
   "escapeChar"    = "\\"
)
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux";

--Creamos aux en la BD ejer2_hive
CREATE EXTERNAL TABLE ejer2_hive.auxEsc ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
   "separatorChar" = ",",
   "quoteChar"     = "\"",
   "escapeChar"    = "\\"
)
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux"

Overwriting create_aux_tables.hql

In [9]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f create_aux_tables.hql

2019-11-12 00:33:29,304 WARN  [main] mapreduce.TableMapReduceUtil: The hbase-prefix-tree module jar containing PrefixTreeCodec is not present.  Continuing without it.
scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.7.0)
Driver: Hive JDBC (version 1.1.0-cdh5.7.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default>
s: jdbc:hive2://localhost:10000/default> --Creamos la BD que contendra las tabla
e: jdbc:hive2://localhost:10000/default> CREATE DATABASE IF NOT EXISTS ejer2_hiv
': jdbc:hive2://localhost:10000/default> COMMENT 'BD para el ejercicio 2 del TP1
ve'jdbc:hive2://localhost:10000/default> LOCATION '/user/uned/databases/ejer2_hi ;
INFO  : Compiling command(queryId=hive_20191112003333_b306a855-e625-414a-8148-3282a14274eb): CREATE DATABASE IF NOT EXISTS ejer2_hive
COMMENT 'BD para el ejercicio 2 del TP1'
LOCATION '/user/uned/databases/ejer2_hive'
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003333_b306a855-e625-414a-8148-3282a14274eb); Time taken: 0.004 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003333_b306a855-e625-414a-8148-3282a14274eb): CREATE DATABASE IF NOT EXISTS ejer2_hive
COMMENT 'BD para el ejercicio 2 del TP1'
LOCATION '/user/uned/databases/ejer2_hive'
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112003333_b306a855-e625-414a-8148-3282a14274eb); Time taken: 0.013 seconds
INFO  : OK
No rows affected (0.078 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default> --Borramos las tablas si existen.
ternaGDP;ive2://localhost:10000/default> DROP TABLE IF EXISTS ejer2_hive.TablaIn
INFO  : Compiling command(queryId=hive_20191112003333_d92dec0e-9ffc-41ae-bdb4-28bd80a8ac6c): DROP TABLE IF EXISTS ejer2_hive.TablaInternaGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003333_d92dec0e-9ffc-41ae-bdb4-28bd80a8ac6c); Time taken: 0.004 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003333_d92dec0e-9ffc-41ae-bdb4-28bd80a8ac6c): DROP TABLE IF EXISTS ejer2_hive.TablaInternaGDP
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112003333_d92dec0e-9ffc-41ae-bdb4-28bd80a8ac6c); Time taken: 0.005 seconds
INFO  : OK
No rows affected (0.021 seconds)
ternaGDP;ive2://localhost:10000/default> DROP TABLE IF EXISTS ejer2_hive.TablaEx
INFO  : Compiling command(queryId=hive_20191112003333_b1b5689e-3214-451e-9df3-6060d8adfdee): DROP TABLE IF EXISTS ejer2_hive.TablaExternaGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003333_b1b5689e-3214-451e-9df3-6060d8adfdee); Time taken: 0.005 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003333_b1b5689e-3214-451e-9df3-6060d8adfdee): DROP TABLE IF EXISTS ejer2_hive.TablaExternaGDP
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112003333_b1b5689e-3214-451e-9df3-6060d8adfdee); Time taken: 0.006 seconds
INFO  : OK
No rows affected (0.019 seconds)
ternaEscolarizacion;lhost:10000/default> DROP TABLE IF EXISTS ejer2_hive.TablaIn
INFO  : Compiling command(queryId=hive_20191112003333_133daf34-24c5-4163-9e60-ac6873d2aa78): DROP TABLE IF EXISTS ejer2_hive.TablaInternaEscolarizacion
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003333_133daf34-24c5-4163-9e60-ac6873d2aa78); Time taken: 0.005 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003333_133daf34-24c5-4163-9e60-ac6873d2aa78): DROP TABLE IF EXISTS ejer2_hive.TablaInternaEscolarizacion
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112003333_133daf34-24c5-4163-9e60-ac6873d2aa78); Time taken: 0.007 seconds
INFO  : OK
No rows affected (0.017 seconds)
ternaEscolarizacion;lhost:10000/default> DROP TABLE IF EXISTS ejer2_hive.TablaEx
INFO  : Compiling command(queryId=hive_20191112003333_2dfb8c5f-133d-4ded-8e00-02f06f27edfa): DROP TABLE IF EXISTS ejer2_hive.TablaExternaEscolarizacion
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003333_2dfb8c5f-133d-4ded-8e00-02f06f27edfa); Time taken: 0.005 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003333_2dfb8c5f-133d-4ded-8e00-02f06f27edfa): DROP TABLE IF EXISTS ejer2_hive.TablaExternaEscolarizacion
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112003333_2dfb8c5f-133d-4ded-8e00-02f06f27edfa); Time taken: 0.007 seconds
INFO  : OK
No rows affected (0.018 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default> --Creamos tabla aux en la BD ejer2_hive
 ( Country_Name STRING,st:10000/default> CREATE EXTERNAL TABLE ejer2_hive.auxGDP
0: jdbc:hive2://localhost:10000/default> Country_Code STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Name STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Code STRING,
,15),`1962` DECIMAL(lhost:10000/default> `1960` DECIMAL(38,15),`1961` DECIMAL(38 38,15),`1963` DECIMAL(38,15),
,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),ECIMAL(38,15),`1965` DECIMAL(38
,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),ECIMAL(38,15),`1969` DECIMAL(38
,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),ECIMAL(38,15),`1973` DECIMAL(38
,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),ECIMAL(38,15),`1977` DECIMAL(38
,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),ECIMAL(38,15),`1981` DECIMAL(38
,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),ECIMAL(38,15),`1985` DECIMAL(38
,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),ECIMAL(38,15),`1989` DECIMAL(38
,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),ECIMAL(38,15),`1993` DECIMAL(38
,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),ECIMAL(38,15),`1997` DECIMAL(38
,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),ECIMAL(38,15),`2001` DECIMAL(38
,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),ECIMAL(38,15),`2005` DECIMAL(38
,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),ECIMAL(38,15),`2009` DECIMAL(38
,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),ECIMAL(38,15),`2013` DECIMAL(38
0: jdbc:hive2://localhost:10000/default> `2016` DECIMAL(38,15)
0: jdbc:hive2://localhost:10000/default> )
e.serde2.OpenCSVSerde'ost:10000/default> ROW FORMAT SERDE 'org.apache.hadoop.hiv
0: jdbc:hive2://localhost:10000/default> WITH SERDEPROPERTIES (
0: jdbc:hive2://localhost:10000/default>    "separatorChar" = ",",
0: jdbc:hive2://localhost:10000/default>    "quoteChar"     = "\"",
0: jdbc:hive2://localhost:10000/default>    "escapeChar"    = "\\"
0: jdbc:hive2://localhost:10000/default> )
0: jdbc:hive2://localhost:10000/default> STORED AS TEXTFILE
ve/external/TablaExternaGDP_aux";efault> LOCATION "/user/uned/databases/ejer2_hi
INFO  : Compiling command(queryId=hive_20191112003333_c1405721-82dc-4d71-9d3e-a1913c84bf63): CREATE EXTERNAL TABLE ejer2_hive.auxGDP ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
   "separatorChar" = ",",
   "quoteChar"     = "\"",
   "escapeChar"    = "\\"
)
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux"
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003333_c1405721-82dc-4d71-9d3e-a1913c84bf63); Time taken: 0.008 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003333_c1405721-82dc-4d71-9d3e-a1913c84bf63): CREATE EXTERNAL TABLE ejer2_hive.auxGDP ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
   "separatorChar" = ",",
   "quoteChar"     = "\"",
   "escapeChar"    = "\\"
)
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux"
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112003333_c1405721-82dc-4d71-9d3e-a1913c84bf63); Time taken: 0.068 seconds
INFO  : OK
No rows affected (0.09 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default> --Creamos aux en la BD ejer2_hive
 ( Country_Name STRING,st:10000/default> CREATE EXTERNAL TABLE ejer2_hive.auxEsc
0: jdbc:hive2://localhost:10000/default> Country_Code STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Name STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Code STRING,
,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),ECIMAL(38,15),`1961` DECIMAL(38
,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),ECIMAL(38,15),`1965` DECIMAL(38
,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),ECIMAL(38,15),`1969` DECIMAL(38
,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),ECIMAL(38,15),`1973` DECIMAL(38
,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),ECIMAL(38,15),`1977` DECIMAL(38
,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),ECIMAL(38,15),`1981` DECIMAL(38
,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),ECIMAL(38,15),`1985` DECIMAL(38
,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),ECIMAL(38,15),`1989` DECIMAL(38
,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),ECIMAL(38,15),`1993` DECIMAL(38
,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),ECIMAL(38,15),`1997` DECIMAL(38
,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),ECIMAL(38,15),`2001` DECIMAL(38
,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),ECIMAL(38,15),`2005` DECIMAL(38
,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),ECIMAL(38,15),`2009` DECIMAL(38
,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),ECIMAL(38,15),`2013` DECIMAL(38
0: jdbc:hive2://localhost:10000/default> `2016` DECIMAL(38,15)
0: jdbc:hive2://localhost:10000/default> )
e.serde2.OpenCSVSerde'ost:10000/default> ROW FORMAT SERDE 'org.apache.hadoop.hiv
0: jdbc:hive2://localhost:10000/default> WITH SERDEPROPERTIES (
0: jdbc:hive2://localhost:10000/default>    "separatorChar" = ",",
0: jdbc:hive2://localhost:10000/default>    "quoteChar"     = "\"",
0: jdbc:hive2://localhost:10000/default>    "escapeChar"    = "\\"
0: jdbc:hive2://localhost:10000/default> )
0: jdbc:hive2://localhost:10000/default> STORED AS TEXTFILE
ve/external/TablaExternaEscolarizacion_aux"CATION "/user/uned/databases/ejer2_hi
0: jdbc:hive2://localhost:10000/default> INFO  : Compiling command(queryId=hive_20191112003333_ea58481a-8d7f-4a25-9183-3db2854e8d8d): CREATE EXTERNAL TABLE ejer2_hive.auxEsc ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
   "separatorChar" = ",",
   "quoteChar"     = "\"",
   "escapeChar"    = "\\"
)
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux"
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003333_ea58481a-8d7f-4a25-9183-3db2854e8d8d); Time taken: 0.008 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003333_ea58481a-8d7f-4a25-9183-3db2854e8d8d): CREATE EXTERNAL TABLE ejer2_hive.auxEsc ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
   "separatorChar" = ",",
   "quoteChar"     = "\"",
   "escapeChar"    = "\\"
)
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux"
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112003333_ea58481a-8d7f-4a25-9183-3db2854e8d8d); Time taken: 0.048 seconds
INFO  : OK
No rows affected (0.064 seconds)
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

In [10]:
#Copiamos los datos a HDFS...
! hadoop fs -put /media/notebook/datos/API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv \
/user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux
! hadoop fs -ls /user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux

Found 1 items
-rw-r--r--   1 root supergroup     205586 2019-11-12 00:33 /user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux/API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv

In [11]:
#Copiamos los datos a HDFS...
! hadoop fs -put /media/notebook/datos/API_SE.PRM.UNER.FE_DS2_en_csv_v2.csv \
/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux
! hadoop fs -ls /user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux

Found 1 items
-rw-r--r--   1 root supergroup      63371 2019-11-12 00:33 /user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux/API_SE.PRM.UNER.FE_DS2_en_csv_v2.csv

In [12]:
%%writefile create_external_tables.hql

CREATE EXTERNAL TABLE ejer2_hive.TablaExternaGDP ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT DELIMITED FIELDS TERMINATED BY '|'
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaGDP"
TBLPROPERTIES('serialization.null.format'='');

INSERT OVERWRITE TABLE ejer2_hive.TablaExternaGDP SELECT * FROM ejer2_hive.auxGDP;


--Creamos TablaExternaEscolarizacion en la BD ejer2_hive
CREATE EXTERNAL TABLE ejer2_hive.TablaExternaEscolarizacion ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT DELIMITED FIELDS TERMINATED BY '|'
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion"
TBLPROPERTIES('serialization.null.format'='');

INSERT OVERWRITE TABLE ejer2_hive.TablaExternaEscolarizacion SELECT * FROM ejer2_hive.auxEsc;

-- Borramos las tablas aux
DROP TABLE ejer2_hive.auxGDP;
DROP TABLE ejer2_hive.auxEsc;

Overwriting create_external_tables.hql

In [13]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f create_external_tables.hql

2019-11-12 00:33:45,430 WARN  [main] mapreduce.TableMapReduceUtil: The hbase-prefix-tree module jar containing PrefixTreeCodec is not present.  Continuing without it.
scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.7.0)
Driver: Hive JDBC (version 1.1.0-cdh5.7.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default>
xternaGDP ( Country_Name STRING,default> CREATE EXTERNAL TABLE ejer2_hive.TablaE
0: jdbc:hive2://localhost:10000/default> Country_Code STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Name STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Code STRING,
,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),ECIMAL(38,15),`1961` DECIMAL(38
,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),ECIMAL(38,15),`1965` DECIMAL(38
,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),ECIMAL(38,15),`1969` DECIMAL(38
,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),ECIMAL(38,15),`1973` DECIMAL(38
,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),ECIMAL(38,15),`1977` DECIMAL(38
,15),`1982` DECIlocalhost:10000/default> `1980` DECIMAL(38,15),`1981` DECIMAL(38 MAL(38,15),`1983` DECIMAL(38,15),
,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),ECIMAL(38,15),`1985` DECIMAL(38
,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),ECIMAL(38,15),`1989` DECIMAL(38
,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),ECIMAL(38,15),`1993` DECIMAL(38
,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),ECIMAL(38,15),`1997` DECIMAL(38
,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),ECIMAL(38,15),`2001` DECIMAL(38
,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),ECIMAL(38,15),`2005` DECIMAL(38
,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),ECIMAL(38,15),`2009` DECIMAL(38
,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),ECIMAL(38,15),`2013` DECIMAL(38
0: jdbc:hive2://localhost:10000/default> `2016` DECIMAL(38,15)
0: jdbc:hive2://localhost:10000/default> )
BY '|'c:hive2://localhost:10000/default> ROW FORMAT DELIMITED FIELDS TERMINATED
0: jdbc:hive2://localhost:10000/default> STORED AS TEXTFILE
ve/external/TablaExternaGDP"000/default> LOCATION "/user/uned/databases/ejer2_hi
t'='');:hive2://localhost:10000/default> TBLPROPERTIES('serialization.null.forma
INFO  : Compiling command(queryId=hive_20191112003333_778713a1-5681-4413-b5e5-5b2f5a366762): CREATE EXTERNAL TABLE ejer2_hive.TablaExternaGDP ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT DELIMITED FIELDS TERMINATED BY '|'
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaGDP"
TBLPROPERTIES('serialization.null.format'='')
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003333_778713a1-5681-4413-b5e5-5b2f5a366762); Time taken: 0.016 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003333_778713a1-5681-4413-b5e5-5b2f5a366762): CREATE EXTERNAL TABLE ejer2_hive.TablaExternaGDP ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT DELIMITED FIELDS TERMINATED BY '|'
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaGDP"
TBLPROPERTIES('serialization.null.format'='')
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112003333_778713a1-5681-4413-b5e5-5b2f5a366762); Time taken: 0.047 seconds
INFO  : OK
No rows affected (0.115 seconds)
0: jdbc:hive2://localhost:10000/default>
ExternaGDP SELECT * FROM ejer2_hive.auxGDP;SERT OVERWRITE TABLE ejer2_hive.Tabla
INFO  : Compiling command(queryId=hive_20191112003333_e615ac62-720b-4e6d-a929-91bc323b7e24): INSERT OVERWRITE TABLE ejer2_hive.TablaExternaGDP SELECT * FROM ejer2_hive.auxGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:_col0, type:string, comment:null), FieldSchema(name:_col1, type:string, comment:null), FieldSchema(name:_col2, type:string, comment:null), FieldSchema(name:_col3, type:string, comment:null), FieldSchema(name:_col4, type:decimal(38,15), comment:null), FieldSchema(name:_col5, type:decimal(38,15), comment:null), FieldSchema(name:_col6, type:decimal(38,15), comment:null), FieldSchema(name:_col7, type:decimal(38,15), comment:null), FieldSchema(name:_col8, type:decimal(38,15), comment:null), FieldSchema(name:_col9, type:decimal(38,15), comment:null), FieldSchema(name:_col10, type:decimal(38,15), comment:null), FieldSchema(name:_col11, type:decimal(38,15), comment:null), FieldSchema(name:_col12, type:decimal(38,15), comment:null), FieldSchema(name:_col13, type:decimal(38,15), comment:null), FieldSchema(name:_col14, type:decimal(38,15), comment:null), FieldSchema(name:_col15, type:decimal(38,15), comment:null), FieldSchema(name:_col16, type:decimal(38,15), comment:null), FieldSchema(name:_col17, type:decimal(38,15), comment:null), FieldSchema(name:_col18, type:decimal(38,15), comment:null), FieldSchema(name:_col19, type:decimal(38,15), comment:null), FieldSchema(name:_col20, type:decimal(38,15), comment:null), FieldSchema(name:_col21, type:decimal(38,15), comment:null), FieldSchema(name:_col22, type:decimal(38,15), comment:null), FieldSchema(name:_col23, type:decimal(38,15), comment:null), FieldSchema(name:_col24, type:decimal(38,15), comment:null), FieldSchema(name:_col25, type:decimal(38,15), comment:null), FieldSchema(name:_col26, type:decimal(38,15), comment:null), FieldSchema(name:_col27, type:decimal(38,15), comment:null), FieldSchema(name:_col28, type:decimal(38,15), comment:null), FieldSchema(name:_col29, type:decimal(38,15), comment:null), FieldSchema(name:_col30, type:decimal(38,15), comment:null), FieldSchema(name:_col31, type:decimal(38,15), comment:null), FieldSchema(name:_col32, type:decimal(38,15), comment:null), FieldSchema(name:_col33, type:decimal(38,15), comment:null), FieldSchema(name:_col34, type:decimal(38,15), comment:null), FieldSchema(name:_col35, type:decimal(38,15), comment:null), FieldSchema(name:_col36, type:decimal(38,15), comment:null), FieldSchema(name:_col37, type:decimal(38,15), comment:null), FieldSchema(name:_col38, type:decimal(38,15), comment:null), FieldSchema(name:_col39, type:decimal(38,15), comment:null), FieldSchema(name:_col40, type:decimal(38,15), comment:null), FieldSchema(name:_col41, type:decimal(38,15), comment:null), FieldSchema(name:_col42, type:decimal(38,15), comment:null), FieldSchema(name:_col43, type:decimal(38,15), comment:null), FieldSchema(name:_col44, type:decimal(38,15), comment:null), FieldSchema(name:_col45, type:decimal(38,15), comment:null), FieldSchema(name:_col46, type:decimal(38,15), comment:null), FieldSchema(name:_col47, type:decimal(38,15), comment:null), FieldSchema(name:_col48, type:decimal(38,15), comment:null), FieldSchema(name:_col49, type:decimal(38,15), comment:null), FieldSchema(name:_col50, type:decimal(38,15), comment:null), FieldSchema(name:_col51, type:decimal(38,15), comment:null), FieldSchema(name:_col52, type:decimal(38,15), comment:null), FieldSchema(name:_col53, type:decimal(38,15), comment:null), FieldSchema(name:_col54, type:decimal(38,15), comment:null), FieldSchema(name:_col55, type:decimal(38,15), comment:null), FieldSchema(name:_col56, type:decimal(38,15), comment:null), FieldSchema(name:_col57, type:decimal(38,15), comment:null), FieldSchema(name:_col58, type:decimal(38,15), comment:null), FieldSchema(name:_col59, type:decimal(38,15), comment:null), FieldSchema(name:_col60, type:decimal(38,15), comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003333_e615ac62-720b-4e6d-a929-91bc323b7e24); Time taken: 0.053 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003333_e615ac62-720b-4e6d-a929-91bc323b7e24): INSERT OVERWRITE TABLE ejer2_hive.TablaExternaGDP SELECT * FROM ejer2_hive.auxGDP
INFO  : Query ID = hive_20191112003333_e615ac62-720b-4e6d-a929-91bc323b7e24
INFO  : Total jobs = 3
INFO  : Launching Job 1 out of 3
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks is set to 0 since there's no reduce operator
INFO  : Starting Job = job_1573502758025_0046, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573502758025_0046/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573502758025_0046
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
INFO  : 2019-11-12 00:33:51,435 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 00:33:56,620 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.69 sec
INFO  : MapReduce Total cumulative CPU time: 1 seconds 690 msec
INFO  : Ended Job = job_1573502758025_0046
INFO  : Starting task [Stage-7:CONDITIONAL] in serial mode
INFO  : Stage-4 is selected by condition resolver.
INFO  : Stage-3 is filtered out by condition resolver.
INFO  : Stage-5 is filtered out by condition resolver.
INFO  : Starting task [Stage-4:MOVE] in serial mode
INFO  : Moving data to: hdfs://quickstart.cloudera:8020/user/uned/databases/ejer2_hive/external/TablaExternaGDP/.hive-staging_hive_2019-11-12_00-33-46_890_3896197308129505797-7/-ext-10000 from hdfs://quickstart.cloudera:8020/user/uned/databases/ejer2_hive/external/TablaExternaGDP/.hive-staging_hive_2019-11-12_00-33-46_890_3896197308129505797-7/-ext-10002
INFO  : Starting task [Stage-0:MOVE] in serial mode
INFO  : Loading data to table ejer2_hive.tablaexternagdp from hdfs://quickstart.cloudera:8020/user/uned/databases/ejer2_hive/external/TablaExternaGDP/.hive-staging_hive_2019-11-12_00-33-46_890_3896197308129505797-7/-ext-10000
INFO  : Starting task [Stage-2:STATS] in serial mode
INFO  : Table ejer2_hive.tablaexternagdp stats: [numFiles=1, numRows=264, totalSize=205558, rawDataSize=205294]
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1   Cumulative CPU: 1.69 sec   HDFS Read: 220900 HDFS Write: 205645 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 1 seconds 690 msec
INFO  : Completed executing command(queryId=hive_20191112003333_e615ac62-720b-4e6d-a929-91bc323b7e24); Time taken: 10.869 seconds
INFO  : OK
No rows affected (10.929 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default>
 la BD ejer2_hiveocalhost:10000/default> --Creamos TablaExternaEscolarizacion en
xternaEscolarizacion ( Country_Name STRING,EATE EXTERNAL TABLE ejer2_hive.TablaE
0: jdbc:hive2://localhost:10000/default> Country_Code STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Name STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Code STRING,
,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),ECIMAL(38,15),`1961` DECIMAL(38
,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),ECIMAL(38,15),`1965` DECIMAL(38
,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),ECIMAL(38,15),`1969` DECIMAL(38
,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),ECIMAL(38,15),`1973` DECIMAL(38
,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),ECIMAL(38,15),`1977` DECIMAL(38
,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),ECIMAL(38,15),`1981` DECIMAL(38
,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),ECIMAL(38,15),`1985` DECIMAL(38
,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),ECIMAL(38,15),`1989` DECIMAL(38
,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),ECIMAL(38,15),`1993` DECIMAL(38
,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),ECIMAL(38,15),`1997` DECIMAL(38
,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),ECIMAL(38,15),`2001` DECIMAL(38
,15),`2006` DECIMAL(38,15),`2007` DECIM> `2004` DECIMAL(38,15),`2005` DECIMAL(38 AL(38,15),
,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),ECIMAL(38,15),`2009` DECIMAL(38
,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),ECIMAL(38,15),`2013` DECIMAL(38
0: jdbc:hive2://localhost:10000/default> `2016` DECIMAL(38,15)
0: jdbc:hive2://localhost:10000/default> )
BY '|'c:hive2://localhost:10000/default> ROW FORMAT DELIMITED FIELDS TERMINATED
0: jdbc:hive2://localhost:10000/default> STORED AS TEXTFILE
ve/external/TablaExternaEscolarizacion"> LOCATION "/user/uned/databases/ejer2_hi
t'='');:hive2://localhost:10000/default> TBLPROPERTIES('serialization.null.forma
INFO  : Compiling command(queryId=hive_20191112003333_67852006-70bc-4481-8880-52830d452de8): CREATE EXTERNAL TABLE ejer2_hive.TablaExternaEscolarizacion ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT DELIMITED FIELDS TERMINATED BY '|'
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion"
TBLPROPERTIES('serialization.null.format'='')
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003333_67852006-70bc-4481-8880-52830d452de8); Time taken: 0.006 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003333_67852006-70bc-4481-8880-52830d452de8): CREATE EXTERNAL TABLE ejer2_hive.TablaExternaEscolarizacion ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT DELIMITED FIELDS TERMINATED BY '|'
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion"
TBLPROPERTIES('serialization.null.format'='')
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112003333_67852006-70bc-4481-8880-52830d452de8); Time taken: 0.048 seconds
INFO  : OK
No rows affected (0.063 seconds)
0: jdbc:hive2://localhost:10000/default>
ExternaEscolarizacion SELECT * FROM ejer2_hive.auxEsc;ITE TABLE ejer2_hive.Tabla
INFO  : Compiling command(queryId=hive_20191112003333_dc66df23-bb2d-491e-9184-31379739442d): INSERT OVERWRITE TABLE ejer2_hive.TablaExternaEscolarizacion SELECT * FROM ejer2_hive.auxEsc
INFO  : Semantic Analysis Completed

In [14]:
#Borramos los datos aux de HDFS...
! hadoop fs -rm -r -f /user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux
! hadoop fs -rm -r -f /user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux

Deleted /user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux
Deleted /user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux

In [15]:
%%writefile create_internal_tables.hql

--Creamos TablaInternaGDP en la BD ejer2_hive
CREATE TABLE ejer2_hive.TablaInternaGDP AS SELECT * FROM ejer2_hive.TablaExternaGDP;

--Creamos TablaInternaEscolarizacion en la BD ejer2_hive
CREATE TABLE ejer2_hive.TablaInternaEscolarizacion AS SELECT * FROM ejer2_hive.TablaExternaEscolarizacion;

Overwriting create_internal_tables.hql

In [16]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f create_internal_tables.hql

2019-11-12 00:34:21,415 WARN  [main] mapreduce.TableMapReduceUtil: The hbase-prefix-tree module jar containing PrefixTreeCodec is not present.  Continuing without it.
scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.7.0)
Driver: Hive JDBC (version 1.1.0-cdh5.7.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default>
2_hivec:hive2://localhost:10000/default> --Creamos TablaInternaGDP en la BD ejer
 AS SELECT * FROM ejer2_hive.TablaExternaGDP;TE TABLE ejer2_hive.TablaInternaGDP
INFO  : Compiling command(queryId=hive_20191112003434_941ea2fc-f59c-41a4-bb11-35d396780998): CREATE TABLE ejer2_hive.TablaInternaGDP AS SELECT * FROM ejer2_hive.TablaExternaGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:tablaexternagdp.country_name, type:string, comment:null), FieldSchema(name:tablaexternagdp.country_code, type:string, comment:null), FieldSchema(name:tablaexternagdp.indicator_name, type:string, comment:null), FieldSchema(name:tablaexternagdp.indicator_code, type:string, comment:null), FieldSchema(name:tablaexternagdp.1960, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1961, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1962, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1963, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1964, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1965, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1966, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1967, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1968, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1969, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1970, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1971, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1972, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1973, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1974, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1975, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1976, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1977, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1978, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1979, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1980, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1981, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1982, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1983, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1984, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1985, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1986, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1987, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1988, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1989, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1990, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1991, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1992, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1993, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1994, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1995, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1996, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1997, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1998, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1999, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2000, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2001, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2002, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2003, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2004, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2005, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2006, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2007, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2008, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2009, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2010, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2011, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2012, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2013, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2014, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2015, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2016, type:decimal(38,15), comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003434_941ea2fc-f59c-41a4-bb11-35d396780998); Time taken: 0.108 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003434_941ea2fc-f59c-41a4-bb11-35d396780998): CREATE TABLE ejer2_hive.TablaInternaGDP AS SELECT * FROM ejer2_hive.TablaExternaGDP
INFO  : Query ID = hive_20191112003434_941ea2fc-f59c-41a4-bb11-35d396780998
INFO  : Total jobs = 3
INFO  : Launching Job 1 out of 3
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks is set to 0 since there's no reduce operator
INFO  : Starting Job = job_1573502758025_0048, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573502758025_0048/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573502758025_0048
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
INFO  : 2019-11-12 00:34:30,017 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 00:34:34,185 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.51 sec
INFO  : MapReduce Total cumulative CPU time: 1 seconds 510 msec
INFO  : Ended Job = job_1573502758025_0048
INFO  : Starting task [Stage-7:CONDITIONAL] in serial mode
INFO  : Stage-4 is selected by condition resolver.
INFO  : Stage-3 is filtered out by condition resolver.
INFO  : Stage-5 is filtered out by condition resolver.
INFO  : Starting task [Stage-4:MOVE] in serial mode
INFO  : Moving data to: hdfs://quickstart.cloudera:8020/user/hive/warehouse/.hive-staging_hive_2019-11-12_00-34-23_304_5388220137201752354-7/-ext-10001 from hdfs://quickstart.cloudera:8020/user/hive/warehouse/.hive-staging_hive_2019-11-12_00-34-23_304_5388220137201752354-7/-ext-10003
INFO  : Starting task [Stage-0:MOVE] in serial mode
INFO  : Moving data to: hdfs://quickstart.cloudera:8020/user/uned/databases/ejer2_hive/tablainternagdp from hdfs://quickstart.cloudera:8020/user/hive/warehouse/.hive-staging_hive_2019-11-12_00-34-23_304_5388220137201752354-7/-ext-10001
INFO  : Starting task [Stage-8:DDL] in serial mode
INFO  : Starting task [Stage-2:STATS] in serial mode
INFO  : Table ejer2_hive.tablainternagdp stats: [numFiles=1, numRows=264, totalSize=212570, rawDataSize=212306]
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1   Cumulative CPU: 1.51 sec   HDFS Read: 218943 HDFS Write: 212657 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 1 seconds 510 msec
INFO  : Completed executing command(queryId=hive_20191112003434_941ea2fc-f59c-41a4-bb11-35d396780998); Time taken: 11.961 seconds
INFO  : OK
No rows affected (12.092 seconds)
0: jdbc:hive2://localhost:10000/default>
 la BD ejer2_hiveocalhost:10000/default> --Creamos TablaInternaEscolarizacion en
olarizacion AS SELECT * FROM ejer2_hive.TablaExternaEscolarizacion;blaInternaEsc
INFO  : Compiling command(queryId=hive_20191112003434_64ff7aa6-0f2d-4110-b63f-289317362dfe): CREATE TABLE ejer2_hive.TablaInternaEscolarizacion AS SELECT * FROM ejer2_hive.TablaExternaEscolarizacion
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:tablaexternaescolarizacion.country_name, type:string, comment:null), FieldSchema(name:tablaexternaescolarizacion.country_code, type:string, comment:null), FieldSchema(name:tablaexternaescolarizacion.indicator_name, type:string, comment:null), FieldSchema(name:tablaexternaescolarizacion.indicator_code, type:string, comment:null), FieldSchema(name:tablaexternaescolarizacion.1960, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1961, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1962, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1963, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1964, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1965, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1966, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1967, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1968, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1969, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1970, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1971, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1972, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1973, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1974, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1975, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1976, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1977, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1978, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1979, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1980, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1981, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1982, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1983, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1984, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1985, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1986, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1987, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1988, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1989, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1990, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1991, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1992, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1993, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1994, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1995, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1996, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1997, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1998, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1999, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2000, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2001, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2002, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2003, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2004, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2005, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2006, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2007, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2008, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2009, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2010, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2011, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2012, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2013, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2014, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2015, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2016, type:decimal(38,15), comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003434_64ff7aa6-0f2d-4110-b63f-289317362dfe); Time taken: 0.066 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003434_64ff7aa6-0f2d-4110-b63f-289317362dfe): CREATE TABLE ejer2_hive.TablaInternaEscolarizacion AS SELECT * FROM ejer2_hive.TablaExternaEscolarizacion
INFO  : Query ID = hive_20191112003434_64ff7aa6-0f2d-4110-b63f-289317362dfe
INFO  : Total jobs = 3
INFO  : Launching Job 1 out of 3
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks is set to 0 since there's no reduce operator
INFO  : Starting Job = job_1573502758025_0049, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573502758025_0049/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573502758025_0049
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
INFO  : 2019-11-12 00:34:39,962 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 00:34:45,128 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.51 sec
INFO  : MapReduce Total cumulative CPU time: 1 seconds 510 msec
INFO  : Ended Job = job_1573502758025_0049
INFO  : Starting task [Stage-7:CONDITIONAL] in serial mode
INFO  : Stage-4 is selected by condition resolver.
INFO  : Stage-3 is filtered out by condition resolver.
INFO  : Stage-5 is filtered out by condition resolver.
INFO  : Starting task [Stage-4:MOVE] in serial mode
INFO  : Moving data to: hdfs://quickstart.cloudera:8020/user/hive/warehouse/.hive-staging_hive_2019-11-12_00-34-35_438_1311622139648917209-7/-ext-10001 from hdfs://quickstart.cloudera:8020/user/hive/warehouse/.hive-staging_hive_2019-11-12_00-34-35_438_1311622139648917209-7/-ext-10003
INFO  : Starting task [Stage-0:MOVE] in serial mode
INFO  : Moving data to: hdfs://quickstart.cloudera:8020/user/uned/databases/ejer2_hive/tablainternaescolarizacion from hdfs://quickstart.cloudera:8020/user/hive/warehouse/.hive-staging_hive_2019-11-12_00-34-35_438_1311622139648917209-7/-ext-10001
INFO  : Starting task [Stage-8:DDL] in serial mode
INFO  : Starting task [Stage-2:STATS] in serial mode
INFO  : Table ejer2_hive.tablainternaescolarizacion stats: [numFiles=1, numRows=264, totalSize=82735, rawDataSize=82471]
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1   Cumulative CPU: 1.51 sec   HDFS Read: 76287 HDFS Write: 82832 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 1 seconds 510 msec
INFO  : Completed executing command(queryId=hive_20191112003434_64ff7aa6-0f2d-4110-b63f-289317362dfe); Time taken: 10.853 seconds
INFO  : OK
No rows affected (10.935 seconds)
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

## Creamos las vistas
Las vistas tiene 4 campos:

    1-name -- Nombre del pais
    2-code -- Codigo del pais
    3-avg_country_1 -- Media por pais entre 2000 y 2009 .
    4-avg_country_2 -- Media por pais entre 2010 y actualidad.

Primero comprobamos que no existen paises repetidos.
Solo lo comprobamos para un set de tablas (en este caso internas) porque contienen los mismos datos.

In [17]:
%%writefile count_countries.hql

-- Ambas queries deben dar lo mismo: 264
SELECT count(country_code)  FROM ejer2_hive.TablaInternaEscolarizacion;
SELECT count(distinct country_code)  FROM ejer2_hive.TablaInternaEscolarizacion;

-- Ambas queries deben dar lo mismo: 264
SELECT count(country_code)  FROM ejer2_hive.TablaInternaGDP;
SELECT count(distinct country_code)  FROM ejer2_hive.TablaInternaGDP;

Overwriting count_countries.hql

In [18]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f count_countries.hql

2019-11-12 00:34:49,261 WARN  [main] mapreduce.TableMapReduceUtil: The hbase-prefix-tree module jar containing PrefixTreeCodec is not present.  Continuing without it.
scan complete in 2ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.7.0)
Driver: Hive JDBC (version 1.1.0-cdh5.7.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default>
4: jdbc:hive2://localhost:10000/default> -- Ambas queries deben dar lo mismo: 26
hive.TablaInternaEscolarizacion;default> SELECT count(country_code)  FROM ejer2_
INFO  : Compiling command(queryId=hive_20191112003434_6678cd8c-68eb-4a1b-8e1a-fd9838c51d98): SELECT count(country_code)  FROM ejer2_hive.TablaInternaEscolarizacion
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:_c0, type:bigint, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003434_6678cd8c-68eb-4a1b-8e1a-fd9838c51d98); Time taken: 0.057 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003434_6678cd8c-68eb-4a1b-8e1a-fd9838c51d98): SELECT count(country_code)  FROM ejer2_hive.TablaInternaEscolarizacion
INFO  : Query ID = hive_20191112003434_6678cd8c-68eb-4a1b-8e1a-fd9838c51d98
INFO  : Total jobs = 1
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1573502758025_0051, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573502758025_0051/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573502758025_0051
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2019-11-12 00:34:58,425 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 00:35:05,062 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.83 sec
INFO  : 2019-11-12 00:35:10,261 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.04 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 40 msec
INFO  : Ended Job = job_1573502758025_0051
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.04 sec   HDFS Read: 97005 HDFS Write: 4 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 40 msec
INFO  : Completed executing command(queryId=hive_20191112003434_6678cd8c-68eb-4a1b-8e1a-fd9838c51d98); Time taken: 19.901 seconds
INFO  : OK
+------+--+
| _c0  |
+------+--+
| 264  |
+------+--+
1 row selected (20.032 seconds)
OM ejer2_hive.TablaInternaEscolarizacion;SELECT count(distinct country_code)  FR
INFO  : Compiling command(queryId=hive_20191112003535_4e0be237-7548-440e-94bb-650a50d8d9a3): SELECT count(distinct country_code)  FROM ejer2_hive.TablaInternaEscolarizacion
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:_c0, type:bigint, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003535_4e0be237-7548-440e-94bb-650a50d8d9a3); Time taken: 0.048 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003535_4e0be237-7548-440e-94bb-650a50d8d9a3): SELECT count(distinct country_code)  FROM ejer2_hive.TablaInternaEscolarizacion
INFO  : Query ID = hive_20191112003535_4e0be237-7548-440e-94bb-650a50d8d9a3
INFO  : Total jobs = 1
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1573502758025_0052, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573502758025_0052/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573502758025_0052
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2019-11-12 00:35:16,944 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 00:35:22,372 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.03 sec
INFO  : 2019-11-12 00:35:27,636 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.73 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 730 msec
INFO  : Ended Job = job_1573502758025_0052
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.73 sec   HDFS Read: 97182 HDFS Write: 4 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 730 msec
INFO  : Completed executing command(queryId=hive_20191112003535_4e0be237-7548-440e-94bb-650a50d8d9a3); Time taken: 18.3 seconds
INFO  : OK
+------+--+
| _c0  |
+------+--+
| 264  |
+------+--+
1 row selected (18.381 seconds)
0: jdbc:hive2://localhost:10000/default>
4: jdbc:hive2://localhost:10000/default> -- Ambas queries deben dar lo mismo: 26
hive.TablaInternaGDP;host:10000/default> SELECT count(country_code)  FROM ejer2_
INFO  : Compiling command(queryId=hive_20191112003535_040536c5-0239-40db-b012-3218cd96ff36): SELECT count(country_code)  FROM ejer2_hive.TablaInternaGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:_c0, type:bigint, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003535_040536c5-0239-40db-b012-3218cd96ff36); Time taken: 0.077 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003535_040536c5-0239-40db-b012-3218cd96ff36): SELECT count(country_code)  FROM ejer2_hive.TablaInternaGDP
INFO  : Query ID = hive_20191112003535_040536c5-0239-40db-b012-3218cd96ff36
INFO  : Total jobs = 1
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1573502758025_0053, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573502758025_0053/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573502758025_0053
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2019-11-12 00:35:36,433 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 00:35:40,640 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.87 sec
INFO  : 2019-11-12 00:35:45,813 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.01 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 10 msec
INFO  : Ended Job = job_1573502758025_0053
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.01 sec   HDFS Read: 226754 HDFS Write: 4 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 10 msec
INFO  : Completed executing command(queryId=hive_20191112003535_040536c5-0239-40db-b012-3218cd96ff36); Time taken: 16.976 seconds
INFO  : OK
+------+--+
| _c0  |
+------+--+
| 264  |
+------+--+
1 row selected (17.081 seconds)
OM ejer2_hive.TablaInternaGDP;0/default> SELECT count(distinct country_code)  FR
INFO  : Compiling command(queryId=hive_20191112003535_7f9b839c-5d7d-4062-9288-6ebaf4b2c787): SELECT count(distinct country_code)  FROM ejer2_hive.TablaInternaGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:_c0, type:bigint, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112003535_7f9b839c-5d7d-4062-9288-6ebaf4b2c787); Time taken: 0.056 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112003535_7f9b839c-5d7d-4062-9288-6ebaf4b2c787): SELECT count(distinct country_code)  FROM ejer2_hive.TablaInternaGDP
INFO  : Query ID = hive_20191112003535_7f9b839c-5d7d-4062-9288-6ebaf4b2c787
INFO  : Total jobs = 1
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1573502758025_0054, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573502758025_0054/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573502758025_0054
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2019-11-12 00:35:53,598 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 00:35:58,826 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.98 sec
INFO  : 2019-11-12 00:36:05,154 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.82 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 820 msec
INFO  : Ended Job = job_1573502758025_0054
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.82 sec   HDFS Read: 226931 HDFS Write: 4 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 820 msec
INFO  : Completed executing command(queryId=hive_20191112003535_7f9b839c-5d7d-4062-9288-6ebaf4b2c787); Time taken: 19.275 seconds
INFO  : OK
+------+--+
| _c0  |
+------+--+
| 264  |
+------+--+
1 row selected (19.359 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

In [19]:
%%writefile create_views.hql

CREATE VIEW IF NOT EXISTS ejer2_hive.TablaInternaEscolarizacion AS    
    SELECT name, code, COALESCE(avg_country_1, 0) as avg_country_1, COALESCE(avg_country_2,0) as avg_country_2 FROM (   
        SELECT country_name as name, country_code as code, 
            CASE
                WHEN COALESCE(`2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`) IS NOT NULL THEN
                    (COALESCE(`2000`,0) + COALESCE(`2001`,0) + COALESCE(`2002`,0) + COALESCE(`2003`,0) + COALESCE(`2004`,0) + 
                     COALESCE(`2005`,0) + COALESCE(`2006`,0) + COALESCE(`2007`,0) + COALESCE(`2008`,0) + COALESCE(`2009`,0)) / 
                        (CASE WHEN `2000` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2001` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2002` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2003` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2004` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2005` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2006` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2007` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2008` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2008` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_1,
            CASE
                WHEN COALESCE(`2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`) IS NOT NULL THEN
                    (COALESCE(`2010`,0) + COALESCE(`2011`,0) + COALESCE(`2012`,0) + COALESCE(`2013`,0) + COALESCE(`2014`,0) + 
                     COALESCE(`2015`,0) + COALESCE(`2016`,0)) / 
                        (CASE WHEN `2010` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2011` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2012` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2013` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2014` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2015` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2016` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_2
            FROM ejer2_hive.TablaInternaEscolarizacion 
    )a;

Overwriting create_views.hql