# TP1 - Adrian Jose Zapater Reig

# Ejercicio 2: HIVE.
Ejemplo de uso de HIVE sobre 2 sets de datos.

## Diseño

En primer lugar vamos a subir los ficheros a HDFS, una base de datos de HIVE y unas tablas auxiliares externas para cargar los datos. Usaremos OpenCSVSerde para que HIVE sea capaz de detectar las columnas separadas por ',' y el carácter '"' para separador de texto.

Para poder hacer uso de la función COALESCE, necesitamos que las cadenas vacías se interpreten como NULL. La propiedad serialization.null.format nos permite elegir qué carácter o combinación de carácteres se interpretará como NULL. Como no es compatible con OpenCSVSerde usaremos una tabla auxiliar e insertaremos los datos en la tabla definitiva.

Puesto que HIVE es capaz de inferir el esquema de la tabla a partir de los datos, podemos usar la sentencia CREATE TABLE AS SELECT... para crear las tablas internar y ahorrarnos el trabajo de especificarlo explícitamente.

Para crear las vistas, nos apoyaremos en la función COALESCE() para comprobar que las columnas NO son nulas y/o dar valores por defecto.

Para calcular la media de cada final, tendremos que averiguar cuantas columnas tienen valor distinto de NULL, sumarlas (sumar 0 si la columna es NULL) y dividir por el número total de columnas distintas de NULL. Nos apoyaremos en la cláusula CASE WHEN para aplicar la lógica como si fuera un IF ELSE.
Si todas las columnas son NULL, devolveremos 0 para que la salída sea homogénea.

Para resolver las cuestiones finales nos apoyaremos en la sentencia de ordenanción ORDER BY para listar los resultados en orden de mas a menor y usaremos LIMIT para devolver los 10 resultados que se piden.
Para la última cuestión, tendremos que cruzar la información de ambos ficheros con la sentencia JOIN y filtrar con la sentencia WHERE para obtener el resultado que buscamos. Las queries son autoexplicativas.

#### NOTAS:
En caso de que se quisiera obtener únicamente el nombre del país en las primeras 3 cuestiones, se tendría que añadir un nivel mas a la query:

SELECT a.country_name FROM ($QUERY_DE_CUESTION) a

Debemos asignar un alias a la query de segundo nivel para que HIVE sea capaz de procesarla.

Directorio de trabajo local: /media/notebook/tp1-notebooks/ejer_2_hive

Directorio de trabajo HDFS:  /user/uned/databases/ejer2_hive

Directorio de datos local:   /media/notebook/datos

In [1]:
! mkdir -p /media/notebook/tp1-notebooks/ejer_2_hive

In [2]:
import os
os.chdir("/media/notebook/tp1-notebooks/ejer_2_hive")

In [3]:
! pwd

/media/notebook/tp1-notebooks/ejer_2_hive

In [4]:
! hadoop fs -mkdir -p /user/uned/databases/ejer2_hive

In [5]:
! hadoop fs -ls /user/uned/databases/

Found 1 items
drwxr-xr-x   - root supergroup          0 2019-11-12 20:13 /user/uned/databases/ejer2_hive

In [6]:
! hadoop fs -mkdir -p /user/uned/databases/ejer2_hive/external/TablaExternaGDP
! hadoop fs -mkdir -p /user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion

In [7]:
! hadoop fs -ls /user/uned/databases/ejer2_hive/external/

Found 2 items
drwxr-xr-x   - root supergroup          0 2019-11-12 20:13 /user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion
drwxr-xr-x   - root supergroup          0 2019-11-12 20:13 /user/uned/databases/ejer2_hive/external/TablaExternaGDP

## Creacion de la tablas
Creamos 2 tablas externas con LOCATION = a la ruta HDFS donde hemos dejado los ficheros con datos para que HIVE los lea al acceder a la tabla.

Creamos 2 tablas internas desde una select a la externa para que HIVE use los datos cargados en la externa.

Nos topamos con un problema: una de las columnas tiene '"' como separador de campo de texto y contiene  ',' dentro de dicho campo. Para que HIVE sea capaz de leer dicho campo como un solo campo usaremos el SerDe OpenCSVSerde según la documentacion de confluence: https://cwiki.apache.org/confluence/display/Hive/CSV+Serde

In [8]:
%%writefile create_aux_tables.hql

--Creamos la BD que contendra las tablas
CREATE DATABASE IF NOT EXISTS ejer2_hive
COMMENT 'BD para el ejercicio 2 del TP1'
LOCATION '/user/uned/databases/ejer2_hive';

--Borramos las tablas si existen.
DROP TABLE IF EXISTS ejer2_hive.TablaInternaGDP;
DROP TABLE IF EXISTS ejer2_hive.TablaExternaGDP;
DROP TABLE IF EXISTS ejer2_hive.TablaInternaEscolarizacion;
DROP TABLE IF EXISTS ejer2_hive.TablaExternaEscolarizacion;

--Creamos tabla aux en la BD ejer2_hive
CREATE EXTERNAL TABLE ejer2_hive.auxGDP ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
   "separatorChar" = ",",
   "quoteChar"     = "\"",
   "escapeChar"    = "\\"
)
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux";

--Creamos aux en la BD ejer2_hive
CREATE EXTERNAL TABLE ejer2_hive.auxEsc ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
   "separatorChar" = ",",
   "quoteChar"     = "\"",
   "escapeChar"    = "\\"
)
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux"

Overwriting create_aux_tables.hql

In [9]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f create_aux_tables.hql

2019-11-12 20:13:35,330 WARN  [main] mapreduce.TableMapReduceUtil: The hbase-prefix-tree module jar containing PrefixTreeCodec is not present.  Continuing without it.
scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.7.0)
Driver: Hive JDBC (version 1.1.0-cdh5.7.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default>
s: jdbc:hive2://localhost:10000/default> --Creamos la BD que contendra las tabla
e: jdbc:hive2://localhost:10000/default> CREATE DATABASE IF NOT EXISTS ejer2_hiv
': jdbc:hive2://localhost:10000/default> COMMENT 'BD para el ejercicio 2 del TP1
ve';dbc:hive2://localhost:10000/default> LOCATION '/user/uned/databases/ejer2_hi
INFO  : Compiling command(queryId=hive_20191112201313_dd53342f-be97-4e13-bce2-4250501afa66): CREATE DATABASE IF NOT EXISTS ejer2_hive
COMMENT 'BD para el ejercicio 2 del TP1'
LOCATION '/user/uned/databases/ejer2_hive'
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201313_dd53342f-be97-4e13-bce2-4250501afa66); Time taken: 0.33 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201313_dd53342f-be97-4e13-bce2-4250501afa66): CREATE DATABASE IF NOT EXISTS ejer2_hive
COMMENT 'BD para el ejercicio 2 del TP1'
LOCATION '/user/uned/databases/ejer2_hive'
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201313_dd53342f-be97-4e13-bce2-4250501afa66); Time taken: 0.123 seconds
INFO  : OK
No rows affected (0.582 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default> --Borramos las tablas si existen.
ternaGDP;ive2://localhost:10000/default> DROP TABLE IF EXISTS ejer2_hive.TablaIn
INFO  : Compiling command(queryId=hive_20191112201313_9aa312f2-fcc6-4646-aa75-4a8488044152): DROP TABLE IF EXISTS ejer2_hive.TablaInternaGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201313_9aa312f2-fcc6-4646-aa75-4a8488044152); Time taken: 0.032 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201313_9aa312f2-fcc6-4646-aa75-4a8488044152): DROP TABLE IF EXISTS ejer2_hive.TablaInternaGDP
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201313_9aa312f2-fcc6-4646-aa75-4a8488044152); Time taken: 0.017 seconds
INFO  : OK
No rows affected (0.067 seconds)
ternaGDP;ive2://localhost:10000/default> DROP TABLE IF EXISTS ejer2_hive.TablaEx
INFO  : Compiling command(queryId=hive_20191112201313_9f9a16eb-8f19-46c8-b660-4eca70408358): DROP TABLE IF EXISTS ejer2_hive.TablaExternaGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201313_9f9a16eb-8f19-46c8-b660-4eca70408358); Time taken: 0.009 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201313_9f9a16eb-8f19-46c8-b660-4eca70408358): DROP TABLE IF EXISTS ejer2_hive.TablaExternaGDP
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201313_9f9a16eb-8f19-46c8-b660-4eca70408358); Time taken: 0.009 seconds
INFO  : OK
No rows affected (0.028 seconds)
ternaEscolarizacion;lhost:10000/default> DROP TABLE IF EXISTS ejer2_hive.TablaIn
INFO  : Compiling command(queryId=hive_20191112201313_f7335fc8-7e56-468c-8556-7173e5700422): DROP TABLE IF EXISTS ejer2_hive.TablaInternaEscolarizacion
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201313_f7335fc8-7e56-468c-8556-7173e5700422); Time taken: 0.008 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201313_f7335fc8-7e56-468c-8556-7173e5700422): DROP TABLE IF EXISTS ejer2_hive.TablaInternaEscolarizacion
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201313_f7335fc8-7e56-468c-8556-7173e5700422); Time taken: 0.008 seconds
INFO  : OK
No rows affected (0.028 seconds)
ternaEscolarizaciocalhost:10000/default> DROP TABLE IF EXISTS ejer2_hive.TablaEx on;
INFO  : Compiling command(queryId=hive_20191112201313_d5a64180-981b-4d12-9f79-6dfd8b2475ba): DROP TABLE IF EXISTS ejer2_hive.TablaExternaEscolarizacion
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201313_d5a64180-981b-4d12-9f79-6dfd8b2475ba); Time taken: 0.009 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201313_d5a64180-981b-4d12-9f79-6dfd8b2475ba): DROP TABLE IF EXISTS ejer2_hive.TablaExternaEscolarizacion
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201313_d5a64180-981b-4d12-9f79-6dfd8b2475ba); Time taken: 0.021 seconds
INFO  : OK
No rows affected (0.039 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default> --Creamos tabla aux en la BD ejer2_hive
 ( Country_Name STRING,st:10000/default> CREATE EXTERNAL TABLE ejer2_hive.auxGDP
0: jdbc:hive2://localhost:10000/default> Country_Code STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Name STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Code STRING,
,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),ECIMAL(38,15),`1961` DECIMAL(38
,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),ECIMAL(38,15),`1965` DECIMAL(38
,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),ECIMAL(38,15),`1969` DECIMAL(38
,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),ECIMAL(38,15),`1973` DECIMAL(38
,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),ECIMAL(38,15),`1977` DECIMAL(38
,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),ECIMAL(38,15),`1981` DECIMAL(38
,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),ECIMAL(38,15),`1985` DECIMAL(38
,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),ECIMAL(38,15),`1989` DECIMAL(38
,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),ECIMAL(38,15),`1993` DECIMAL(38
,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),ECIMAL(38,15),`1997` DECIMAL(38
,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),ECIMAL(38,15),`2001` DECIMAL(38
,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),ECIMAL(38,15),`2005` DECIMAL(38
,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),ECIMAL(38,15),`2009` DECIMAL(38
,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),ECIMAL(38,15),`2013` DECIMAL(38
0: jdbc:hive2://localhost:10000/default> `2016` DECIMAL(38,15)
0: jdbc:hive2://localhost:10000/default> )
e.serde2.OpenCSVSerde'ost:10000/default> ROW FORMAT SERDE 'org.apache.hadoop.hiv
0: jdbc:hive2://localhost:10000/default> WITH SERDEPROPERTIES (
0: jdbc:hive2://localhost:10000/default>    "separatorChar" = ",",
0: jdbc:hive2://localhost:10000/default>    "quoteChar"     = "\"",
0: jdbc:hive2://localhost:10000/default>    "escapeChar"    = "\\"
0: jdbc:hive2://localhost:10000/default> )
0: jdbc:hive2://localhost:10000/default> STORED AS TEXTFILE
ve/external/TablaExternaGDP_aux";efault> LOCATION "/user/uned/databases/ejer2_hi
INFO  : Compiling command(queryId=hive_20191112201313_8b22a321-0a88-4af6-a989-cddd1f5a0797): CREATE EXTERNAL TABLE ejer2_hive.auxGDP ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
   "separatorChar" = ",",
   "quoteChar"     = "\"",
   "escapeChar"    = "\\"
)
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux"
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201313_8b22a321-0a88-4af6-a989-cddd1f5a0797); Time taken: 0.12 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201313_8b22a321-0a88-4af6-a989-cddd1f5a0797): CREATE EXTERNAL TABLE ejer2_hive.auxGDP ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
   "separatorChar" = ",",
   "quoteChar"     = "\"",
   "escapeChar"    = "\\"
)
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux"
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201313_8b22a321-0a88-4af6-a989-cddd1f5a0797); Time taken: 0.2 seconds
INFO  : OK
No rows affected (0.334 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default> --Creamos aux en la BD ejer2_hive
 ( Country_Name STRING,st:10000/default> CREATE EXTERNAL TABLE ejer2_hive.auxEsc
0: jdbc:hive2://localhost:10000/default> Country_Code STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Name STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Code STRING,
,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),ECIMAL(38,15),`1961` DECIMAL(38
,15),`1966` DEC/localhost:10000/default> `1964` DECIMAL(38,15),`1965` DECIMAL(38 IMAL(38,15),`1967` DECIMAL(38,15),
,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),ECIMAL(38,15),`1969` DECIMAL(38
,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),ECIMAL(38,15),`1973` DECIMAL(38
,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),ECIMAL(38,15),`1977` DECIMAL(38
,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),ECIMAL(38,15),`1981` DECIMAL(38
,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),ECIMAL(38,15),`1985` DECIMAL(38
,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),ECIMAL(38,15),`1989` DECIMAL(38
,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),ECIMAL(38,15),`1993` DECIMAL(38
,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),ECIMAL(38,15),`1997` DECIMAL(38
,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),ECIMAL(38,15),`2001` DECIMAL(38
,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),ECIMAL(38,15),`2005` DECIMAL(38
,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),ECIMAL(38,15),`2009` DECIMAL(38
,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),ECIMAL(38,15),`2013` DECIMAL(38
0: jdbc:hive2://localhost:10000/default> `2016` DECIMAL(38,15)
0: jdbc:hive2://localhost:10000/default> )
e.serde2.OpenCSVSerde'ost:10000/default> ROW FORMAT SERDE 'org.apache.hadoop.hiv
0: jdbc:hive2://localhost:10000/default> WITH SERDEPROPERTIES (
0: jdbc:hive2://localhost:10000/default>    "separatorChar" = ",",
0: jdbc:hive2://localhost:10000/default>    "quoteChar"     = "\"",
0: jdbc:hive2://localhost:10000/default>    "escapeChar"    = "\\"
0: jdbc:hive2://localhost:10000/default> )
0: jdbc:hive2://localhost:10000/default> STORED AS TEXTFILE
ve/external/TablaExternaEscolarizacion_aux"CATION "/user/uned/databases/ejer2_hi
0: jdbc:hive2://localhost:10000/default> INFO  : Compiling command(queryId=hive_20191112201313_56ac72fa-ce8e-4d28-82f8-d4f7da8c528c): CREATE EXTERNAL TABLE ejer2_hive.auxEsc ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
   "separatorChar" = ",",
   "quoteChar"     = "\"",
   "escapeChar"    = "\\"
)
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux"
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201313_56ac72fa-ce8e-4d28-82f8-d4f7da8c528c); Time taken: 0.017 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201313_56ac72fa-ce8e-4d28-82f8-d4f7da8c528c): CREATE EXTERNAL TABLE ejer2_hive.auxEsc ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
   "separatorChar" = ",",
   "quoteChar"     = "\"",
   "escapeChar"    = "\\"
)
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux"
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201313_56ac72fa-ce8e-4d28-82f8-d4f7da8c528c); Time taken: 0.082 seconds
INFO  : OK
No rows affected (0.112 seconds)
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

In [10]:
#Copiamos los datos a HDFS...
! hadoop fs -put /media/notebook/datos/API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv \
/user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux
! hadoop fs -ls /user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux

Found 1 items
-rw-r--r--   1 root supergroup     205586 2019-11-12 20:13 /user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux/API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv

In [11]:
#Copiamos los datos a HDFS...
! hadoop fs -put /media/notebook/datos/API_SE.PRM.UNER.FE_DS2_en_csv_v2.csv \
/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux
! hadoop fs -ls /user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux

Found 1 items
-rw-r--r--   1 root supergroup      63371 2019-11-12 20:13 /user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux/API_SE.PRM.UNER.FE_DS2_en_csv_v2.csv

In [12]:
%%writefile create_external_tables.hql

CREATE EXTERNAL TABLE ejer2_hive.TablaExternaGDP ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT DELIMITED FIELDS TERMINATED BY '|'
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaGDP"
TBLPROPERTIES('serialization.null.format'='');

INSERT OVERWRITE TABLE ejer2_hive.TablaExternaGDP SELECT * FROM ejer2_hive.auxGDP;


--Creamos TablaExternaEscolarizacion en la BD ejer2_hive
CREATE EXTERNAL TABLE ejer2_hive.TablaExternaEscolarizacion ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT DELIMITED FIELDS TERMINATED BY '|'
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion"
TBLPROPERTIES('serialization.null.format'='');

INSERT OVERWRITE TABLE ejer2_hive.TablaExternaEscolarizacion SELECT * FROM ejer2_hive.auxEsc;

-- Borramos las tablas aux
DROP TABLE ejer2_hive.auxGDP;
DROP TABLE ejer2_hive.auxEsc;

Overwriting create_external_tables.hql

In [13]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f create_external_tables.hql

2019-11-12 20:13:53,190 WARN  [main] mapreduce.TableMapReduceUtil: The hbase-prefix-tree module jar containing PrefixTreeCodec is not present.  Continuing without it.
scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.7.0)
Driver: Hive JDBC (version 1.1.0-cdh5.7.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default>
xternaGDP ( Country_Name STRING,default> CREATE EXTERNAL TABLE ejer2_hive.TablaE
0: jdbc:hive2://localhost:10000/default> Country_Code STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Name STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Code STRING,
,15),`1962` DECIMAL(38,15),`1963` DECIMAL(3960` DECIMAL(38,15),`1961` DECIMAL(38 8,15),
,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),ECIMAL(38,15),`1965` DECIMAL(38
,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),ECIMAL(38,15),`1969` DECIMAL(38
,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),ECIMAL(38,15),`1973` DECIMAL(38
,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),ECIMAL(38,15),`1977` DECIMAL(38
,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),ECIMAL(38,15),`1981` DECIMAL(38
,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),ECIMAL(38,15),`1985` DECIMAL(38
,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),ECIMAL(38,15),`1989` DECIMAL(38
,15),`1994` DECIlocalhost:10000/default> `1992` DECIMAL(38,15),`1993` DECIMAL(38 MAL(38,15),`1995` DECIMAL(38,15),
,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),ECIMAL(38,15),`1997` DECIMAL(38
,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),ECIMAL(38,15),`2001` DECIMAL(38
,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),ECIMAL(38,15),`2005` DECIMAL(38
,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),ECIMAL(38,15),`2009` DECIMAL(38
,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),ECIMAL(38,15),`2013` DECIMAL(38
0: jdbc:hive2://localhost:10000/default> `2016` DECIMAL(38,15)
0: jdbc:hive2://localhost:10000/default> )
BY '|'c:hive2://localhost:10000/default> ROW FORMAT DELIMITED FIELDS TERMINATED
0: jdbc:hive2://localhost:10000/default> STORED AS TEXTFILE
ve/external/TablaExternaGDP"000/default> LOCATION "/user/uned/databases/ejer2_hi
t'='');:hive2://localhost:10000/default> TBLPROPERTIES('serialization.null.forma
INFO  : Compiling command(queryId=hive_20191112201313_060ad035-fc0a-4a78-87c2-c10048a6e084): CREATE EXTERNAL TABLE ejer2_hive.TablaExternaGDP ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT DELIMITED FIELDS TERMINATED BY '|'
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaGDP"
TBLPROPERTIES('serialization.null.format'='')
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201313_060ad035-fc0a-4a78-87c2-c10048a6e084); Time taken: 0.037 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201313_060ad035-fc0a-4a78-87c2-c10048a6e084): CREATE EXTERNAL TABLE ejer2_hive.TablaExternaGDP ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT DELIMITED FIELDS TERMINATED BY '|'
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaGDP"
TBLPROPERTIES('serialization.null.format'='')
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201313_060ad035-fc0a-4a78-87c2-c10048a6e084); Time taken: 0.148 seconds
INFO  : OK
No rows affected (0.243 seconds)
0: jdbc:hive2://localhost:10000/default>
ExternaGDP SELECT * FROM ejer2_hive.auxGDP;SERT OVERWRITE TABLE ejer2_hive.Tabla
INFO  : Compiling command(queryId=hive_20191112201313_157bcc4f-690a-4ca0-974e-14acf6381010): INSERT OVERWRITE TABLE ejer2_hive.TablaExternaGDP SELECT * FROM ejer2_hive.auxGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:_col0, type:string, comment:null), FieldSchema(name:_col1, type:string, comment:null), FieldSchema(name:_col2, type:string, comment:null), FieldSchema(name:_col3, type:string, comment:null), FieldSchema(name:_col4, type:decimal(38,15), comment:null), FieldSchema(name:_col5, type:decimal(38,15), comment:null), FieldSchema(name:_col6, type:decimal(38,15), comment:null), FieldSchema(name:_col7, type:decimal(38,15), comment:null), FieldSchema(name:_col8, type:decimal(38,15), comment:null), FieldSchema(name:_col9, type:decimal(38,15), comment:null), FieldSchema(name:_col10, type:decimal(38,15), comment:null), FieldSchema(name:_col11, type:decimal(38,15), comment:null), FieldSchema(name:_col12, type:decimal(38,15), comment:null), FieldSchema(name:_col13, type:decimal(38,15), comment:null), FieldSchema(name:_col14, type:decimal(38,15), comment:null), FieldSchema(name:_col15, type:decimal(38,15), comment:null), FieldSchema(name:_col16, type:decimal(38,15), comment:null), FieldSchema(name:_col17, type:decimal(38,15), comment:null), FieldSchema(name:_col18, type:decimal(38,15), comment:null), FieldSchema(name:_col19, type:decimal(38,15), comment:null), FieldSchema(name:_col20, type:decimal(38,15), comment:null), FieldSchema(name:_col21, type:decimal(38,15), comment:null), FieldSchema(name:_col22, type:decimal(38,15), comment:null), FieldSchema(name:_col23, type:decimal(38,15), comment:null), FieldSchema(name:_col24, type:decimal(38,15), comment:null), FieldSchema(name:_col25, type:decimal(38,15), comment:null), FieldSchema(name:_col26, type:decimal(38,15), comment:null), FieldSchema(name:_col27, type:decimal(38,15), comment:null), FieldSchema(name:_col28, type:decimal(38,15), comment:null), FieldSchema(name:_col29, type:decimal(38,15), comment:null), FieldSchema(name:_col30, type:decimal(38,15), comment:null), FieldSchema(name:_col31, type:decimal(38,15), comment:null), FieldSchema(name:_col32, type:decimal(38,15), comment:null), FieldSchema(name:_col33, type:decimal(38,15), comment:null), FieldSchema(name:_col34, type:decimal(38,15), comment:null), FieldSchema(name:_col35, type:decimal(38,15), comment:null), FieldSchema(name:_col36, type:decimal(38,15), comment:null), FieldSchema(name:_col37, type:decimal(38,15), comment:null), FieldSchema(name:_col38, type:decimal(38,15), comment:null), FieldSchema(name:_col39, type:decimal(38,15), comment:null), FieldSchema(name:_col40, type:decimal(38,15), comment:null), FieldSchema(name:_col41, type:decimal(38,15), comment:null), FieldSchema(name:_col42, type:decimal(38,15), comment:null), FieldSchema(name:_col43, type:decimal(38,15), comment:null), FieldSchema(name:_col44, type:decimal(38,15), comment:null), FieldSchema(name:_col45, type:decimal(38,15), comment:null), FieldSchema(name:_col46, type:decimal(38,15), comment:null), FieldSchema(name:_col47, type:decimal(38,15), comment:null), FieldSchema(name:_col48, type:decimal(38,15), comment:null), FieldSchema(name:_col49, type:decimal(38,15), comment:null), FieldSchema(name:_col50, type:decimal(38,15), comment:null), FieldSchema(name:_col51, type:decimal(38,15), comment:null), FieldSchema(name:_col52, type:decimal(38,15), comment:null), FieldSchema(name:_col53, type:decimal(38,15), comment:null), FieldSchema(name:_col54, type:decimal(38,15), comment:null), FieldSchema(name:_col55, type:decimal(38,15), comment:null), FieldSchema(name:_col56, type:decimal(38,15), comment:null), FieldSchema(name:_col57, type:decimal(38,15), comment:null), FieldSchema(name:_col58, type:decimal(38,15), comment:null), FieldSchema(name:_col59, type:decimal(38,15), comment:null), FieldSchema(name:_col60, type:decimal(38,15), comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201313_157bcc4f-690a-4ca0-974e-14acf6381010); Time taken: 0.401 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201313_157bcc4f-690a-4ca0-974e-14acf6381010): INSERT OVERWRITE TABLE ejer2_hive.TablaExternaGDP SELECT * FROM ejer2_hive.auxGDP
INFO  : Query ID = hive_20191112201313_157bcc4f-690a-4ca0-974e-14acf6381010
INFO  : Total jobs = 3
INFO  : Launching Job 1 out of 3
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks is set to 0 since there's no reduce operator
INFO  : Starting Job = job_1573589502997_0001, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573589502997_0001/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573589502997_0001
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
INFO  : 2019-11-12 20:14:03,548 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 20:14:08,907 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.98 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 980 msec
INFO  : Ended Job = job_1573589502997_0001
INFO  : Starting task [Stage-7:CONDITIONAL] in serial mode
INFO  : Stage-4 is selected by condition resolver.
INFO  : Stage-3 is filtered out by condition resolver.
INFO  : Stage-5 is filtered out by condition resolver.
INFO  : Starting task [Stage-4:MOVE] in serial mode
INFO  : Moving data to: hdfs://quickstart.cloudera:8020/user/uned/databases/ejer2_hive/external/TablaExternaGDP/.hive-staging_hive_2019-11-12_20-13-54_772_6733958892088126472-1/-ext-10000 from hdfs://quickstart.cloudera:8020/user/uned/databases/ejer2_hive/external/TablaExternaGDP/.hive-staging_hive_2019-11-12_20-13-54_772_6733958892088126472-1/-ext-10002
INFO  : Starting task [Stage-0:MOVE] in serial mode
INFO  : Loading data to table ejer2_hive.tablaexternagdp from hdfs://quickstart.cloudera:8020/user/uned/databases/ejer2_hive/external/TablaExternaGDP/.hive-staging_hive_2019-11-12_20-13-54_772_6733958892088126472-1/-ext-10000
INFO  : Starting task [Stage-2:STATS] in serial mode
INFO  : Table ejer2_hive.tablaexternagdp stats: [numFiles=1, numRows=264, totalSize=205558, rawDataSize=205294]
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1   Cumulative CPU: 2.98 sec   HDFS Read: 220894 HDFS Write: 205645 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 980 msec
INFO  : Completed executing command(queryId=hive_20191112201313_157bcc4f-690a-4ca0-974e-14acf6381010); Time taken: 15.318 seconds
INFO  : OK
No rows affected (15.728 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default>
 la BD ejer2_hiveocalhost:10000/default> --Creamos TablaExternaEscolarizacion en
xternaEscolarizacion ( Coun0000/default> CREATE EXTERNAL TABLE ejer2_hive.TablaE try_Name STRING,
0: jdbc:hive2://localhost:10000/default> Country_Code STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Name STRING,
0: jdbc:hive2://localhost:10000/default> Indicator_Code STRING,
,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),ECIMAL(38,15),`1961` DECIMAL(38
,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),ECIMAL(38,15),`1965` DECIMAL(38
,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),ECIMAL(38,15),`1969` DECIMAL(38
,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),ECIMAL(38,15),`1973` DECIMAL(38
,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),ECIMAL(38,15),`1977` DECIMAL(38
,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),ECIMAL(38,15),`1981` DECIMAL(38
,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),ECIMAL(38,15),`1985` DECIMAL(38
,15),`199ive2://localhost:10000/default> `1988` DECIMAL(38,15),`1989` DECIMAL(38 0` DECIMAL(38,15),`1991` DECIMAL(38,15),
,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),ECIMAL(38,15),`1993` DECIMAL(38
,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),ECIMAL(38,15),`1997` DECIMAL(38
,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),ECIMAL(38,15),`2001` DECIMAL(38
,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),ECIMAL(38,15),`2005` DECIMAL(38
,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),ECIMAL(38,15),`2009` DECIMAL(38
,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),ECIMAL(38,15),`2013` DECIMAL(38
0: jdbc:hive2://localhost:10000/default> `2016` DECIMAL(38,15)
0: jdbc:hive2://localhost:10000/default> )
BY '|'c:hive2://localhost:10000/default> ROW FORMAT DELIMITED FIELDS TERMINATED
0: jdbc:hive2://localhost:10000/default> STORED AS TEXTFILE
ve/external/TablaExternaEscolarizacion"> LOCATION "/user/uned/databases/ejer2_hi
t'='');:hive2://localhost:10000/default> TBLPROPERTIES('serialization.null.forma
INFO  : Compiling command(queryId=hive_20191112201414_42a2a932-af8b-4da9-9027-c263b9434cef): CREATE EXTERNAL TABLE ejer2_hive.TablaExternaEscolarizacion ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT DELIMITED FIELDS TERMINATED BY '|'
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion"
TBLPROPERTIES('serialization.null.format'='')
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201414_42a2a932-af8b-4da9-9027-c263b9434cef); Time taken: 0.019 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201414_42a2a932-af8b-4da9-9027-c263b9434cef): CREATE EXTERNAL TABLE ejer2_hive.TablaExternaEscolarizacion ( Country_Name STRING,
Country_Code STRING,
Indicator_Name STRING,
Indicator_Code STRING,
`1960` DECIMAL(38,15),`1961` DECIMAL(38,15),`1962` DECIMAL(38,15),`1963` DECIMAL(38,15),
`1964` DECIMAL(38,15),`1965` DECIMAL(38,15),`1966` DECIMAL(38,15),`1967` DECIMAL(38,15),
`1968` DECIMAL(38,15),`1969` DECIMAL(38,15),`1970` DECIMAL(38,15),`1971` DECIMAL(38,15),
`1972` DECIMAL(38,15),`1973` DECIMAL(38,15),`1974` DECIMAL(38,15),`1975` DECIMAL(38,15),
`1976` DECIMAL(38,15),`1977` DECIMAL(38,15),`1978` DECIMAL(38,15),`1979` DECIMAL(38,15),
`1980` DECIMAL(38,15),`1981` DECIMAL(38,15),`1982` DECIMAL(38,15),`1983` DECIMAL(38,15),
`1984` DECIMAL(38,15),`1985` DECIMAL(38,15),`1986` DECIMAL(38,15),`1987` DECIMAL(38,15),
`1988` DECIMAL(38,15),`1989` DECIMAL(38,15),`1990` DECIMAL(38,15),`1991` DECIMAL(38,15),
`1992` DECIMAL(38,15),`1993` DECIMAL(38,15),`1994` DECIMAL(38,15),`1995` DECIMAL(38,15),
`1996` DECIMAL(38,15),`1997` DECIMAL(38,15),`1998` DECIMAL(38,15),`1999` DECIMAL(38,15),
`2000` DECIMAL(38,15),`2001` DECIMAL(38,15),`2002` DECIMAL(38,15),`2003` DECIMAL(38,15),
`2004` DECIMAL(38,15),`2005` DECIMAL(38,15),`2006` DECIMAL(38,15),`2007` DECIMAL(38,15),
`2008` DECIMAL(38,15),`2009` DECIMAL(38,15),`2010` DECIMAL(38,15),`2011` DECIMAL(38,15),
`2012` DECIMAL(38,15),`2013` DECIMAL(38,15),`2014` DECIMAL(38,15),`2015` DECIMAL(38,15),
`2016` DECIMAL(38,15)
)
ROW FORMAT DELIMITED FIELDS TERMINATED BY '|'
STORED AS TEXTFILE
LOCATION "/user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion"
TBLPROPERTIES('serialization.null.format'='')
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201414_42a2a932-af8b-4da9-9027-c263b9434cef); Time taken: 0.063 seconds
INFO  : OK
No rows affected (0.095 seconds)
0: jdbc:hive2://localhost:10000/default>
ExternaEscolarizacion SELECT * FROM ejer2_hive.auxEsc;ITE TABLE ejer2_hive.Tabla
INFO  : Compiling command(queryId=hive_20191112201414_cd78bae5-806e-4bed-bd99-ef30b9009e65): INSERT OVERWRITE TABLE ejer2_hive.TablaExternaEscolarizacion SELECT * FROM ejer2_hive.auxEsc
INFO  : Semantic Analysis Completed

In [14]:
#Borramos los datos aux de HDFS...
! hadoop fs -rm -r -f /user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux
! hadoop fs -rm -r -f /user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux

Deleted /user/uned/databases/ejer2_hive/external/TablaExternaGDP_aux
Deleted /user/uned/databases/ejer2_hive/external/TablaExternaEscolarizacion_aux

In [15]:
%%writefile create_internal_tables.hql

--Creamos TablaInternaGDP en la BD ejer2_hive
CREATE TABLE ejer2_hive.TablaInternaGDP AS SELECT * FROM ejer2_hive.TablaExternaGDP;

--Creamos TablaInternaEscolarizacion en la BD ejer2_hive
CREATE TABLE ejer2_hive.TablaInternaEscolarizacion AS SELECT * FROM ejer2_hive.TablaExternaEscolarizacion;

Overwriting create_internal_tables.hql

In [16]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f create_internal_tables.hql

2019-11-12 20:14:31,150 WARN  [main] mapreduce.TableMapReduceUtil: The hbase-prefix-tree module jar containing PrefixTreeCodec is not present.  Continuing without it.
scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.7.0)
Driver: Hive JDBC (version 1.1.0-cdh5.7.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default>
2_hivec:hive2://localhost:10000/default> --Creamos TablaInternaGDP en la BD ejer
 AS SELECT * FROlocalhost:10000/default> CREATE TABLE ejer2_hive.TablaInternaGDP M ejer2_hive.TablaExternaGDP;
INFO  : Compiling command(queryId=hive_20191112201414_fea343c4-fc3a-4553-9491-9881cd746eee): CREATE TABLE ejer2_hive.TablaInternaGDP AS SELECT * FROM ejer2_hive.TablaExternaGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:tablaexternagdp.country_name, type:string, comment:null), FieldSchema(name:tablaexternagdp.country_code, type:string, comment:null), FieldSchema(name:tablaexternagdp.indicator_name, type:string, comment:null), FieldSchema(name:tablaexternagdp.indicator_code, type:string, comment:null), FieldSchema(name:tablaexternagdp.1960, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1961, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1962, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1963, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1964, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1965, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1966, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1967, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1968, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1969, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1970, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1971, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1972, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1973, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1974, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1975, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1976, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1977, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1978, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1979, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1980, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1981, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1982, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1983, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1984, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1985, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1986, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1987, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1988, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1989, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1990, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1991, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1992, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1993, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1994, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1995, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1996, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1997, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1998, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.1999, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2000, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2001, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2002, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2003, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2004, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2005, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2006, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2007, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2008, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2009, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2010, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2011, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2012, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2013, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2014, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2015, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternagdp.2016, type:decimal(38,15), comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201414_fea343c4-fc3a-4553-9491-9881cd746eee); Time taken: 0.095 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201414_fea343c4-fc3a-4553-9491-9881cd746eee): CREATE TABLE ejer2_hive.TablaInternaGDP AS SELECT * FROM ejer2_hive.TablaExternaGDP
INFO  : Query ID = hive_20191112201414_fea343c4-fc3a-4553-9491-9881cd746eee
INFO  : Total jobs = 3
INFO  : Launching Job 1 out of 3
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks is set to 0 since there's no reduce operator
INFO  : Starting Job = job_1573589502997_0003, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573589502997_0003/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573589502997_0003
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
INFO  : 2019-11-12 20:14:36,998 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 20:14:41,181 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.52 sec
INFO  : MapReduce Total cumulative CPU time: 1 seconds 520 msec
INFO  : Ended Job = job_1573589502997_0003
INFO  : Starting task [Stage-7:CONDITIONAL] in serial mode
INFO  : Stage-4 is selected by condition resolver.
INFO  : Stage-3 is filtered out by condition resolver.
INFO  : Stage-5 is filtered out by condition resolver.
INFO  : Starting task [Stage-4:MOVE] in serial mode
INFO  : Moving data to: hdfs://quickstart.cloudera:8020/user/hive/warehouse/.hive-staging_hive_2019-11-12_20-14-32_396_8636436091644542746-4/-ext-10001 from hdfs://quickstart.cloudera:8020/user/hive/warehouse/.hive-staging_hive_2019-11-12_20-14-32_396_8636436091644542746-4/-ext-10003
INFO  : Starting task [Stage-0:MOVE] in serial mode
INFO  : Moving data to: hdfs://quickstart.cloudera:8020/user/uned/databases/ejer2_hive/tablainternagdp from hdfs://quickstart.cloudera:8020/user/hive/warehouse/.hive-staging_hive_2019-11-12_20-14-32_396_8636436091644542746-4/-ext-10001
INFO  : Starting task [Stage-8:DDL] in serial mode
INFO  : Starting task [Stage-2:STATS] in serial mode
INFO  : Table ejer2_hive.tablainternagdp stats: [numFiles=1, numRows=264, totalSize=212570, rawDataSize=212306]
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1   Cumulative CPU: 1.52 sec   HDFS Read: 218940 HDFS Write: 212657 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 1 seconds 520 msec
INFO  : Completed executing command(queryId=hive_20191112201414_fea343c4-fc3a-4553-9491-9881cd746eee); Time taken: 10.97 seconds
INFO  : OK
No rows affected (11.079 seconds)
0: jdbc:hive2://localhost:10000/default>
 la BD ejer2_hiveocalhost:10000/default> --Creamos TablaInternaEscolarizacion en
olarizacion AS SELECT * FROM ejer2_hive.TablaExternaEscolarizacion;blaInternaEsc
INFO  : Compiling command(queryId=hive_20191112201414_54362929-5c6f-47fa-ab25-dbc8d3e272a2): CREATE TABLE ejer2_hive.TablaInternaEscolarizacion AS SELECT * FROM ejer2_hive.TablaExternaEscolarizacion
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:tablaexternaescolarizacion.country_name, type:string, comment:null), FieldSchema(name:tablaexternaescolarizacion.country_code, type:string, comment:null), FieldSchema(name:tablaexternaescolarizacion.indicator_name, type:string, comment:null), FieldSchema(name:tablaexternaescolarizacion.indicator_code, type:string, comment:null), FieldSchema(name:tablaexternaescolarizacion.1960, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1961, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1962, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1963, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1964, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1965, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1966, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1967, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1968, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1969, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1970, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1971, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1972, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1973, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1974, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1975, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1976, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1977, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1978, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1979, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1980, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1981, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1982, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1983, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1984, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1985, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1986, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1987, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1988, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1989, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1990, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1991, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1992, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1993, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1994, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1995, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1996, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1997, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1998, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.1999, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2000, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2001, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2002, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2003, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2004, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2005, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2006, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2007, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2008, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2009, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2010, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2011, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2012, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2013, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2014, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2015, type:decimal(38,15), comment:null), FieldSchema(name:tablaexternaescolarizacion.2016, type:decimal(38,15), comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201414_54362929-5c6f-47fa-ab25-dbc8d3e272a2); Time taken: 0.089 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201414_54362929-5c6f-47fa-ab25-dbc8d3e272a2): CREATE TABLE ejer2_hive.TablaInternaEscolarizacion AS SELECT * FROM ejer2_hive.TablaExternaEscolarizacion
INFO  : Query ID = hive_20191112201414_54362929-5c6f-47fa-ab25-dbc8d3e272a2
INFO  : Total jobs = 3
INFO  : Launching Job 1 out of 3
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks is set to 0 since there's no reduce operator
INFO  : Starting Job = job_1573589502997_0004, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573589502997_0004/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573589502997_0004
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
INFO  : 2019-11-12 20:14:48,094 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 20:14:52,234 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.33 sec
INFO  : MapReduce Total cumulative CPU time: 1 seconds 330 msec
INFO  : Ended Job = job_1573589502997_0004
INFO  : Starting task [Stage-7:CONDITIONAL] in serial mode
INFO  : Stage-4 is selected by condition resolver.
INFO  : Stage-3 is filtered out by condition resolver.
INFO  : Stage-5 is filtered out by condition resolver.
INFO  : Starting task [Stage-4:MOVE] in serial mode
INFO  : Moving data to: hdfs://quickstart.cloudera:8020/user/hive/warehouse/.hive-staging_hive_2019-11-12_20-14-43_515_7614796560504114295-4/-ext-10001 from hdfs://quickstart.cloudera:8020/user/hive/warehouse/.hive-staging_hive_2019-11-12_20-14-43_515_7614796560504114295-4/-ext-10003
INFO  : Starting task [Stage-0:MOVE] in serial mode
INFO  : Moving data to: hdfs://quickstart.cloudera:8020/user/uned/databases/ejer2_hive/tablainternaescolarizacion from hdfs://quickstart.cloudera:8020/user/hive/warehouse/.hive-staging_hive_2019-11-12_20-14-43_515_7614796560504114295-4/-ext-10001
INFO  : Starting task [Stage-8:DDL] in serial mode
INFO  : Starting task [Stage-2:STATS] in serial mode
INFO  : Table ejer2_hive.tablainternaescolarizacion stats: [numFiles=1, numRows=264, totalSize=82735, rawDataSize=82471]
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1   Cumulative CPU: 1.33 sec   HDFS Read: 76284 HDFS Write: 82832 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 1 seconds 330 msec
INFO  : Completed executing command(queryId=hive_20191112201414_54362929-5c6f-47fa-ab25-dbc8d3e272a2); Time taken: 9.864 seconds
INFO  : OK
No rows affected (9.973 seconds)
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

## Creamos las vistas
Las vistas tiene 4 campos:

    1-name -- Nombre del pais
    2-code -- Codigo del pais
    3-avg_country_1 -- Media por pais entre 2000 y 2009 .
    4-avg_country_2 -- Media por pais entre 2010 y actualidad.

Primero comprobamos que no existen paises repetidos.
Solo lo comprobamos para un set de tablas (en este caso internas) porque contienen los mismos datos.

In [17]:
%%writefile count_countries.hql

-- Ambas queries deben dar lo mismo: 264
SELECT count(country_code)  FROM ejer2_hive.TablaInternaEscolarizacion;
SELECT count(distinct country_code)  FROM ejer2_hive.TablaInternaEscolarizacion;

-- Ambas queries deben dar lo mismo: 264
SELECT count(country_code)  FROM ejer2_hive.TablaInternaGDP;
SELECT count(distinct country_code)  FROM ejer2_hive.TablaInternaGDP;

Overwriting count_countries.hql

In [18]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f count_countries.hql

2019-11-12 20:14:55,429 WARN  [main] mapreduce.TableMapReduceUtil: The hbase-prefix-tree module jar containing PrefixTreeCodec is not present.  Continuing without it.
scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.7.0)
Driver: Hive JDBC (version 1.1.0-cdh5.7.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default>
4: jdbc:hive2://localhost:10000/default> -- Ambas queries deben dar lo mismo: 26
hive.TablaInternaEscolarizacion;default> SELECT count(country_code)  FROM ejer2_
INFO  : Compiling command(queryId=hive_20191112201414_3eb6dcbf-17c9-4977-bca8-64e2402e0caa): SELECT count(country_code)  FROM ejer2_hive.TablaInternaEscolarizacion
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:_c0, type:bigint, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201414_3eb6dcbf-17c9-4977-bca8-64e2402e0caa); Time taken: 0.097 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201414_3eb6dcbf-17c9-4977-bca8-64e2402e0caa): SELECT count(country_code)  FROM ejer2_hive.TablaInternaEscolarizacion
INFO  : Query ID = hive_20191112201414_3eb6dcbf-17c9-4977-bca8-64e2402e0caa
INFO  : Total jobs = 1
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1573589502997_0005, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573589502997_0005/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573589502997_0005
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2019-11-12 20:15:00,329 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 20:15:05,549 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.95 sec
INFO  : 2019-11-12 20:15:11,799 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.29 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 290 msec
INFO  : Ended Job = job_1573589502997_0005
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.29 sec   HDFS Read: 96990 HDFS Write: 4 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 290 msec
INFO  : Completed executing command(queryId=hive_20191112201414_3eb6dcbf-17c9-4977-bca8-64e2402e0caa); Time taken: 16.071 seconds
INFO  : OK
+------+--+
| _c0  |
+------+--+
| 264  |
+------+--+
1 row selected (16.296 seconds)
OM ejer2_hive.TablaInternaEs000/default> SELECT count(distinct country_code)  FR colarizacion;
INFO  : Compiling command(queryId=hive_20191112201515_2fc51346-7b65-4c70-ab8a-db703cbf3c79): SELECT count(distinct country_code)  FROM ejer2_hive.TablaInternaEscolarizacion
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:_c0, type:bigint, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201515_2fc51346-7b65-4c70-ab8a-db703cbf3c79); Time taken: 0.07 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201515_2fc51346-7b65-4c70-ab8a-db703cbf3c79): SELECT count(distinct country_code)  FROM ejer2_hive.TablaInternaEscolarizacion
INFO  : Query ID = hive_20191112201515_2fc51346-7b65-4c70-ab8a-db703cbf3c79
INFO  : Total jobs = 1
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1573589502997_0006, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573589502997_0006/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573589502997_0006
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2019-11-12 20:15:18,583 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 20:15:22,744 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.82 sec
INFO  : 2019-11-12 20:15:29,060 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.12 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 120 msec
INFO  : Ended Job = job_1573589502997_0006
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.12 sec   HDFS Read: 97172 HDFS Write: 4 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 120 msec
INFO  : Completed executing command(queryId=hive_20191112201515_2fc51346-7b65-4c70-ab8a-db703cbf3c79); Time taken: 17.034 seconds
INFO  : OK
+------+--+
| _c0  |
+------+--+
| 264  |
+------+--+
1 row selected (17.134 seconds)
0: jdbc:hive2://localhost:10000/default>
4: jdbc:hive2://localhost:10000/default> -- Ambas queries deben dar lo mismo: 26
hive.TablaInternaGDP;host:10000/default> SELECT count(country_code)  FROM ejer2_
INFO  : Compiling command(queryId=hive_20191112201515_8e8cff88-8d05-415b-a249-f9edbc078ea4): SELECT count(country_code)  FROM ejer2_hive.TablaInternaGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:_c0, type:bigint, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201515_8e8cff88-8d05-415b-a249-f9edbc078ea4); Time taken: 0.075 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201515_8e8cff88-8d05-415b-a249-f9edbc078ea4): SELECT count(country_code)  FROM ejer2_hive.TablaInternaGDP
INFO  : Query ID = hive_20191112201515_8e8cff88-8d05-415b-a249-f9edbc078ea4
INFO  : Total jobs = 1
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1573589502997_0007, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573589502997_0007/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573589502997_0007
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2019-11-12 20:15:34,756 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 20:15:39,937 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.88 sec
INFO  : 2019-11-12 20:15:45,258 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.47 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 470 msec
INFO  : Ended Job = job_1573589502997_0007
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.47 sec   HDFS Read: 226740 HDFS Write: 4 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 470 msec
INFO  : Completed executing command(queryId=hive_20191112201515_8e8cff88-8d05-415b-a249-f9edbc078ea4); Time taken: 16.078 seconds
INFO  : OK
+------+--+
| _c0  |
+------+--+
| 264  |
+------+--+
1 row selected (16.181 seconds)
OM ejer2_hive.TablaInternaGDP;0/default> SELECT count(distinct country_code)  FR
INFO  : Compiling command(queryId=hive_20191112201515_dc83f7a3-9d86-423a-81a4-86f5897df61b): SELECT count(distinct country_code)  FROM ejer2_hive.TablaInternaGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:_c0, type:bigint, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201515_dc83f7a3-9d86-423a-81a4-86f5897df61b); Time taken: 0.088 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201515_dc83f7a3-9d86-423a-81a4-86f5897df61b): SELECT count(distinct country_code)  FROM ejer2_hive.TablaInternaGDP
INFO  : Query ID = hive_20191112201515_dc83f7a3-9d86-423a-81a4-86f5897df61b
INFO  : Total jobs = 1
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1573589502997_0008, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573589502997_0008/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573589502997_0008
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2019-11-12 20:15:52,332 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 20:15:57,564 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.91 sec
INFO  : 2019-11-12 20:16:02,732 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.01 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 10 msec
INFO  : Ended Job = job_1573589502997_0008
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.01 sec   HDFS Read: 226921 HDFS Write: 4 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 10 msec
INFO  : Completed executing command(queryId=hive_20191112201515_dc83f7a3-9d86-423a-81a4-86f5897df61b); Time taken: 17.326 seconds
INFO  : OK
+------+--+
| _c0  |
+------+--+
| 264  |
+------+--+
1 row selected (17.441 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

In [19]:
%%writefile create_views.hql

-- Borramos las vistas si existen.
DROP VIEW IF EXISTS ejer2_hive.VistaTablaExternaGDP;
DROP VIEW IF EXISTS ejer2_hive.VistaTablaExternaEscolarizacion;
DROP VIEW IF EXISTS ejer2_hive.VistaTablaInternaGDP;
DROP VIEW IF EXISTS ejer2_hive.VistaTablaInternaEscolarizacion;


-- Creamos las 4 vistas.
CREATE VIEW ejer2_hive.VistaTablaExternaGDP AS    
        SELECT country_name as name, country_code as code, 
            CASE
                WHEN COALESCE(`2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`) IS NOT NULL THEN
                    (COALESCE(`2000`,0) + COALESCE(`2001`,0) + COALESCE(`2002`,0) + COALESCE(`2003`,0) + COALESCE(`2004`,0) + 
                     COALESCE(`2005`,0) + COALESCE(`2006`,0) + COALESCE(`2007`,0) + COALESCE(`2008`,0) + COALESCE(`2009`,0)) / 
                        (CASE WHEN `2000` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2001` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2002` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2003` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2004` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2005` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2006` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2007` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2008` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2009` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_1,
            CASE
                WHEN COALESCE(`2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`) IS NOT NULL THEN
                    (COALESCE(`2010`,0) + COALESCE(`2011`,0) + COALESCE(`2012`,0) + COALESCE(`2013`,0) + COALESCE(`2014`,0) + 
                     COALESCE(`2015`,0) + COALESCE(`2016`,0)) / 
                        (CASE WHEN `2010` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2011` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2012` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2013` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2014` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2015` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2016` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_2
            FROM ejer2_hive.TablaExternaGDP;

CREATE VIEW ejer2_hive.VistaTablaExternaEscolarizacion AS    
        SELECT country_name as name, country_code as code, 
            CASE
                WHEN COALESCE(`2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`) IS NOT NULL THEN
                    (COALESCE(`2000`,0) + COALESCE(`2001`,0) + COALESCE(`2002`,0) + COALESCE(`2003`,0) + COALESCE(`2004`,0) + 
                     COALESCE(`2005`,0) + COALESCE(`2006`,0) + COALESCE(`2007`,0) + COALESCE(`2008`,0) + COALESCE(`2009`,0)) / 
                        (CASE WHEN `2000` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2001` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2002` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2003` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2004` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2005` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2006` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2007` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2008` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2009` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_1,
            CASE
                WHEN COALESCE(`2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`) IS NOT NULL THEN
                    (COALESCE(`2010`,0) + COALESCE(`2011`,0) + COALESCE(`2012`,0) + COALESCE(`2013`,0) + COALESCE(`2014`,0) + 
                     COALESCE(`2015`,0) + COALESCE(`2016`,0)) / 
                        (CASE WHEN `2010` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2011` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2012` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2013` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2014` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2015` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2016` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_2
            FROM ejer2_hive.TablaExternaEscolarizacion;

            
CREATE VIEW ejer2_hive.VistaTablaInternaGDP AS    
        SELECT country_name as name, country_code as code, 
            CASE
                WHEN COALESCE(`2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`) IS NOT NULL THEN
                    (COALESCE(`2000`,0) + COALESCE(`2001`,0) + COALESCE(`2002`,0) + COALESCE(`2003`,0) + COALESCE(`2004`,0) + 
                     COALESCE(`2005`,0) + COALESCE(`2006`,0) + COALESCE(`2007`,0) + COALESCE(`2008`,0) + COALESCE(`2009`,0)) / 
                        (CASE WHEN `2000` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2001` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2002` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2003` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2004` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2005` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2006` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2007` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2008` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2009` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_1,
            CASE
                WHEN COALESCE(`2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`) IS NOT NULL THEN
                    (COALESCE(`2010`,0) + COALESCE(`2011`,0) + COALESCE(`2012`,0) + COALESCE(`2013`,0) + COALESCE(`2014`,0) + 
                     COALESCE(`2015`,0) + COALESCE(`2016`,0)) / 
                        (CASE WHEN `2010` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2011` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2012` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2013` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2014` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2015` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2016` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_2
            FROM ejer2_hive.TablaInternaGDP;
    
    
    
    CREATE VIEW ejer2_hive.VistaTablaInternaEscolarizacion AS    
        SELECT country_name as name, country_code as code, 
            CASE
                WHEN COALESCE(`2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`) IS NOT NULL THEN
                    (COALESCE(`2000`,0) + COALESCE(`2001`,0) + COALESCE(`2002`,0) + COALESCE(`2003`,0) + COALESCE(`2004`,0) + 
                     COALESCE(`2005`,0) + COALESCE(`2006`,0) + COALESCE(`2007`,0) + COALESCE(`2008`,0) + COALESCE(`2009`,0)) / 
                        (CASE WHEN `2000` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2001` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2002` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2003` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2004` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2005` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2006` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2007` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2008` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2009` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_1,
            CASE
                WHEN COALESCE(`2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`) IS NOT NULL THEN
                    (COALESCE(`2010`,0) + COALESCE(`2011`,0) + COALESCE(`2012`,0) + COALESCE(`2013`,0) + COALESCE(`2014`,0) + 
                     COALESCE(`2015`,0) + COALESCE(`2016`,0)) / 
                        (CASE WHEN `2010` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2011` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2012` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2013` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2014` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2015` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2016` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_2
            FROM ejer2_hive.TablaInternaEscolarizacion;

Overwriting create_views.hql

In [20]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f create_views.hql

2019-11-12 20:16:05,816 WARN  [main] mapreduce.TableMapReduceUtil: The hbase-prefix-tree module jar containing PrefixTreeCodec is not present.  Continuing without it.
scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.7.0)
Driver: Hive JDBC (version 1.1.0-cdh5.7.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default> -- Borramos las vistas si existen.
laExternaGDP;://localhost:10000/default> DROP VIEW IF EXISTS ejer2_hive.VistaTab
INFO  : Compiling command(queryId=hive_20191112201616_e8724f6d-dd9f-48f9-a353-48623544c31b): DROP VIEW IF EXISTS ejer2_hive.VistaTablaExternaGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201616_e8724f6d-dd9f-48f9-a353-48623544c31b); Time taken: 0.019 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201616_e8724f6d-dd9f-48f9-a353-48623544c31b): DROP VIEW IF EXISTS ejer2_hive.VistaTablaExternaGDP
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201616_e8724f6d-dd9f-48f9-a353-48623544c31b); Time taken: 0.006 seconds
INFO  : OK
No rows affected (0.078 seconds)
laExternaEscolarizacion;t:10000/default> DROP VIEW IF EXISTS ejer2_hive.VistaTab
INFO  : Compiling command(queryId=hive_20191112201616_926d1e1e-a7e1-41ef-a3b7-35451fc0c062): DROP VIEW IF EXISTS ejer2_hive.VistaTablaExternaEscolarizacion
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201616_926d1e1e-a7e1-41ef-a3b7-35451fc0c062); Time taken: 0.004 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201616_926d1e1e-a7e1-41ef-a3b7-35451fc0c062): DROP VIEW IF EXISTS ejer2_hive.VistaTablaExternaEscolarizacion
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201616_926d1e1e-a7e1-41ef-a3b7-35451fc0c062); Time taken: 0.005 seconds
INFO  : OK
No rows affected (0.017 seconds)
laInternaGDP;://localhost:10000/default> DROP VIEW IF EXISTS ejer2_hive.VistaTab
INFO  : Compiling command(queryId=hive_20191112201616_ca4f71e4-e720-4ae2-80e6-a6b6add4d083): DROP VIEW IF EXISTS ejer2_hive.VistaTablaInternaGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201616_ca4f71e4-e720-4ae2-80e6-a6b6add4d083); Time taken: 0.01 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201616_ca4f71e4-e720-4ae2-80e6-a6b6add4d083): DROP VIEW IF EXISTS ejer2_hive.VistaTablaInternaGDP
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201616_ca4f71e4-e720-4ae2-80e6-a6b6add4d083); Time taken: 0.006 seconds
INFO  : OK
No rows affected (0.036 seconds)
laInternaEscolarizacion;t:10000/default> DROP VIEW IF EXISTS ejer2_hive.VistaTab
INFO  : Compiling command(queryId=hive_20191112201616_56a5453a-e24b-45bb-b6e7-ed1cbed14ee2): DROP VIEW IF EXISTS ejer2_hive.VistaTablaInternaEscolarizacion
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201616_56a5453a-e24b-45bb-b6e7-ed1cbed14ee2); Time taken: 0.005 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201616_56a5453a-e24b-45bb-b6e7-ed1cbed14ee2): DROP VIEW IF EXISTS ejer2_hive.VistaTablaInternaEscolarizacion
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201616_56a5453a-e24b-45bb-b6e7-ed1cbed14ee2); Time taken: 0.007 seconds
INFO  : OK
No rows affected (0.029 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default> -- Creamos las 4 vistas.
aGDP AS    e2://localhost:10000/default> CREATE VIEW ejer2_hive.VistaTablaExtern
untry_code as code, lhost:10000/default>         SELECT country_name as name, co
0: jdbc:hive2://localhost:10000/default>             CASE
LL THEN`2002`, `20calhost:10000/default>                 WHEN COALESCE(`2000`, ` 03`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`) IS NOT NU
`,0) + ESCE(`2001`,0) + COALESCE(`2002`,0) + COALESCE(`2003`,0) + COALESCE(`2004
`,0)) / SCE(`2006`,0) + COALESCE(`2007`,0) + COALESCE(`2008`,0) + COALESCE(`2009
0` IS NULL THEN 0 ELSE 1 END +0/default>                         (CASE WHEN `200
1` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
2` IS NULL THEN 0 ELSE 1 :10000/default>                          CASE WHEN `200 END +
3` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
4` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
5` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
6` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
7` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
8` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
9` IS NULL THEN 0 ELSE 1 END)00/default>                          CASE WHEN `200
0: jdbc:hive2://localhost:10000/default>                 ELSE 0
0: jdbc:hive2://localhost:10000/default>             END as avg_country_1,
0: jdbc:hive2://localhost:10000/default>             CASE
2011`, `2012`, `2013`, `2014`, `2015`, `2016`) IS NOT NULL THENOALESCE(`2010`, `
`,0) + ESCE(`2011`,0) + COALESCE(`2012`>                     (COALESCE(`2010`,0) ,0) + COALESCE(`2013`,0) + COALESCE(`2014
 + COALESCE(`2016`,0)) / :10000/default>                      COALESCE(`2015`,0)
0` IS NULL THEN 0 ELSE 1 END +0/default>                         (CASE WHEN `201
1` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `201
2` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `201
3` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `201
4` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `201
5` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `201
6` IS NULL THEN 0 ELSE 1 END)00/default>                          CASE WHEN `201
0: jdbc:hive2://localhost:10000/default>                 ELSE 0
0: jdbc:hive2://localhost:10000/default>             END as avg_country_2
aGDP;bc:hive2://localhost:10000/default>             FROM ejer2_hive.TablaExtern
INFO  : Compiling command(queryId=hive_20191112201616_537eb191-0eb6-45d3-ad00-8948e9356c26): CREATE VIEW ejer2_hive.VistaTablaExternaGDP AS
        SELECT country_name as name, country_code as code,
            CASE
                WHEN COALESCE(`2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`) IS NOT NULL THEN
                    (COALESCE(`2000`,0) + COALESCE(`2001`,0) + COALESCE(`2002`,0) + COALESCE(`2003`,0) + COALESCE(`2004`,0) +
                     COALESCE(`2005`,0) + COALESCE(`2006`,0) + COALESCE(`2007`,0) + COALESCE(`2008`,0) + COALESCE(`2009`,0)) /
                        (CASE WHEN `2000` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2001` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2002` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2003` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2004` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2005` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2006` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2007` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2008` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2009` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_1,
            CASE
                WHEN COALESCE(`2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`) IS NOT NULL THEN
                    (COALESCE(`2010`,0) + COALESCE(`2011`,0) + COALESCE(`2012`,0) + COALESCE(`2013`,0) + COALESCE(`2014`,0) +
                     COALESCE(`2015`,0) + COALESCE(`2016`,0)) /
                        (CASE WHEN `2010` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2011` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2012` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2013` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2014` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2015` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2016` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_2
            FROM ejer2_hive.TablaExternaGDP
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:name, type:string, comment:null), FieldSchema(name:code, type:string, comment:null), FieldSchema(name:avg_country_1, type:decimal(38,20), comment:null), FieldSchema(name:avg_country_2, type:decimal(38,20), comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201616_537eb191-0eb6-45d3-ad00-8948e9356c26); Time taken: 0.11 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201616_537eb191-0eb6-45d3-ad00-8948e9356c26): CREATE VIEW ejer2_hive.VistaTablaExternaGDP AS
        SELECT country_name as name, country_code as code,
            CASE
                WHEN COALESCE(`2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`) IS NOT NULL THEN
                    (COALESCE(`2000`,0) + COALESCE(`2001`,0) + COALESCE(`2002`,0) + COALESCE(`2003`,0) + COALESCE(`2004`,0) +
                     COALESCE(`2005`,0) + COALESCE(`2006`,0) + COALESCE(`2007`,0) + COALESCE(`2008`,0) + COALESCE(`2009`,0)) /
                        (CASE WHEN `2000` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2001` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2002` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2003` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2004` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2005` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2006` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2007` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2008` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2009` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_1,
            CASE
                WHEN COALESCE(`2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`) IS NOT NULL THEN
                    (COALESCE(`2010`,0) + COALESCE(`2011`,0) + COALESCE(`2012`,0) + COALESCE(`2013`,0) + COALESCE(`2014`,0) +
                     COALESCE(`2015`,0) + COALESCE(`2016`,0)) /
                        (CASE WHEN `2010` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2011` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2012` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2013` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2014` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2015` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2016` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_2
            FROM ejer2_hive.TablaExternaGDP
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201616_537eb191-0eb6-45d3-ad00-8948e9356c26); Time taken: 0.014 seconds
INFO  : OK
No rows affected (0.138 seconds)
0: jdbc:hive2://localhost:10000/default>
aEscolarizacion AS    ost:10000/default> CREATE VIEW ejer2_hive.VistaTablaExtern
untry_code as code, lhost:10000/default>         SELECT country_name as name, co
0: jdbc:hive2://localhost:10000/default>             CASE
LL THEN`2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`) IS NOT NU
`,0) + ESCE(`2001`,0) + COALESCE(`2002`,0) + COALESCE(`2003`,0) + COALESCE(`2004
`,0)) / SCE(`2006`,0) + COALESCE(`2007`,0) + COALESCE(`2008`,0) + COALESCE(`2009
0` IS NULL THEN 0 ELSE 1 END +0/default>                         (CASE WHEN `200
1` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
2` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
3` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
4` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
5` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
6` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
7` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
8` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `200
9` IS NULL THEN 0 ELSE 1 END)00/default>                          CASE WHEN `200
0: jdbc:hive2://localhost:10000/default>                 ELSE 0
0: jdbc:hive2://localhost:10000/default>             END as avg_country_1,
0: jdbc:hive2://localhost:10000/default>             CASE
2011`, `2012`, `2013`, `2014`, `2015`, `2016`) IS NOT NULL THENOALESCE(`2010`, `
`,0) + ESCE(`2011`,0) + COALESCE(`2012`,0) + COALESCE(`2013`,0) + COALESCE(`2014
 + COALESCE(`2016`,0)) / :10000/default>                      COALESCE(`2015`,0)
0` IS NULL THEN 0 ELSE 1 END +0/default>                         (CASE WHEN `201
1` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `201
2` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `201
3` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `201
4` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `201
5` IS NULL THEN 0 ELSE 1 END +0/default>                          CASE WHEN `201
6` IS NULL THEN 0 ELSE 1 END)00/default>                          CASE WHEN `201
0: jdbc:hive2://localhost:10000/default>                 ELSE 0
0: jdbc:hive2://localhost:10000/default>             END as avg_country_2
aEscolarizacion;localhost:10000/default>             FROM ejer2_hive.TablaExtern
INFO  : Compiling command(queryId=hive_20191112201616_9a244137-b407-43c9-815b-daf65b8ecdba): CREATE VIEW ejer2_hive.VistaTablaExternaEscolarizacion AS
        SELECT country_name as name, country_code as code,
            CASE
                WHEN COALESCE(`2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`) IS NOT NULL THEN
                    (COALESCE(`2000`,0) + COALESCE(`2001`,0) + COALESCE(`2002`,0) + COALESCE(`2003`,0) + COALESCE(`2004`,0) +
                     COALESCE(`2005`,0) + COALESCE(`2006`,0) + COALESCE(`2007`,0) + COALESCE(`2008`,0) + COALESCE(`2009`,0)) /
                        (CASE WHEN `2000` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2001` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2002` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2003` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2004` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2005` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2006` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2007` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2008` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2009` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_1,
            CASE
                WHEN COALESCE(`2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`) IS NOT NULL THEN
                    (COALESCE(`2010`,0) + COALESCE(`2011`,0) + COALESCE(`2012`,0) + COALESCE(`2013`,0) + COALESCE(`2014`,0) +
                     COALESCE(`2015`,0) + COALESCE(`2016`,0)) /
                        (CASE WHEN `2010` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2011` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2012` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2013` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2014` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2015` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2016` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_2
            FROM ejer2_hive.TablaExternaEscolarizacion
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:name, type:string, comment:null), FieldSchema(name:code, type:string, comment:null), FieldSchema(name:avg_country_1, type:decimal(38,20), comment:null), FieldSchema(name:avg_country_2, type:decimal(38,20), comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201616_9a244137-b407-43c9-815b-daf65b8ecdba); Time taken: 0.082 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201616_9a244137-b407-43c9-815b-daf65b8ecdba): CREATE VIEW ejer2_hive.VistaTablaExternaEscolarizacion AS
        SELECT country_name as name, country_code as code,
            CASE
                WHEN COALESCE(`2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`) IS NOT NULL THEN
                    (COALESCE(`2000`,0) + COALESCE(`2001`,0) + COALESCE(`2002`,0) + COALESCE(`2003`,0) + COALESCE(`2004`,0) +
                     COALESCE(`2005`,0) + COALESCE(`2006`,0) + COALESCE(`2007`,0) + COALESCE(`2008`,0) + COALESCE(`2009`,0)) /
                        (CASE WHEN `2000` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2001` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2002` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2003` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2004` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2005` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2006` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2007` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2008` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2009` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_1,
            CASE
                WHEN COALESCE(`2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`) IS NOT NULL THEN
                    (COALESCE(`2010`,0) + COALESCE(`2011`,0) + COALESCE(`2012`,0) + COALESCE(`2013`,0) + COALESCE(`2014`,0) +
                     COALESCE(`2015`,0) + COALESCE(`2016`,0)) /
                        (CASE WHEN `2010` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2011` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2012` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2013` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2014` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2015` IS NULL THEN 0 ELSE 1 END +
                         CASE WHEN `2016` IS NULL THEN 0 ELSE 1 END)
                ELSE 0
            END as avg_country_2
            FROM ejer2_hive.TablaExternaEscolarizacion
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20191112201616_9a244137-b407-43c9-815b-daf65b8ecdba); Time taken: 0.016 seconds
INFO  : OK

## Consultas sobre las cuestiones del ejercicio
Este apartado contiene las 4 consultas del ejercicio 4.

o ¿Cuáles son los 10 paises que tienen mayor GDP en el año 2010?

o ¿Cuáles son los 10 paises que tienen mayor GDP medio en la decada de 2010?

o ¿Cuáles son los 10 paises en los que hay más niñas sin escolarizar en 2010?

o ¿Cuál fue el GDP en 2015 del pais que ese año tuvo 8339 niñas sin escolarizar?

### 1- ¿Cuáles son los 10 paises que tienen mayor GDP en el año 2010?

In [21]:
%%writefile consulta_1.hql

SELECT country_name, country_code, `2010` 
FROM ejer2_hive.TablaExternaGDP 
ORDER BY `2010` DESC 
LIMIT 10;

Overwriting consulta_1.hql

In [22]:
#+----------------------------+---------------+-------------------+--+
#|        country_name        | country_code  |       2010        |
#+----------------------------+---------------+-------------------+--+
#| World                      | WLD           | 65906150720610.2  |
#| High income                | HIC           | 45187761296453.4  |
#| OECD members               | OED           | 44588338316642.4  |
#| Post-demographic dividend  | PST           | 42396023961852.1  |
#| IDA & IBRD total           | IBT           | 21396210564680.8  |
#| Europe & Central Asia      | ECS           | 20905471026131.4  |
#| Low & middle income        | LMY           | 20662142675904.1  |
#| Middle income              | MIC           | 20431462486141.4  |
#| IBRD only                  | IBD           | 19954364474673.9  |
#| European Union             | EUU           | 16977855795546.3  |
#+----------------------------+---------------+-------------------+--+

In [23]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f consulta_1.hql

2019-11-12 20:16:10,046 WARN  [main] mapreduce.TableMapReduceUtil: The hbase-prefix-tree module jar containing PrefixTreeCodec is not present.  Continuing without it.
scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.7.0)
Driver: Hive JDBC (version 1.1.0-cdh5.7.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default>
0` jdbc:hive2://localhost:10000/default> SELECT country_name, country_code, `201
0: jdbc:hive2://localhost:10000/default> FROM ejer2_hive.TablaExternaGDP
0: jdbc:hive2://localhost:10000/default> ORDER BY `2010` DESC
0: jdbc:hive2://localhost:10000/default> LIMIT 10;
INFO  : Compiling command(queryId=hive_20191112201616_d5469a5c-ece0-4565-932f-a3c0038f74a4): SELECT country_name, country_code, `2010`
FROM ejer2_hive.TablaExternaGDP
ORDER BY `2010` DESC
LIMIT 10
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:country_name, type:string, comment:null), FieldSchema(name:country_code, type:string, comment:null), FieldSchema(name:2010, type:decimal(38,15), comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201616_d5469a5c-ece0-4565-932f-a3c0038f74a4); Time taken: 0.076 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201616_d5469a5c-ece0-4565-932f-a3c0038f74a4): SELECT country_name, country_code, `2010`
FROM ejer2_hive.TablaExternaGDP
ORDER BY `2010` DESC
LIMIT 10
INFO  : Query ID = hive_20191112201616_d5469a5c-ece0-4565-932f-a3c0038f74a4
INFO  : Total jobs = 1
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1573589502997_0009, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573589502997_0009/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573589502997_0009
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2019-11-12 20:16:15,912 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 20:16:21,101 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.86 sec
INFO  : 2019-11-12 20:16:25,221 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 1.94 sec
INFO  : MapReduce Total cumulative CPU time: 1 seconds 940 msec
INFO  : Ended Job = job_1573589502997_0009
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 1.94 sec   HDFS Read: 217898 HDFS Write: 365 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 1 seconds 940 msec
INFO  : Completed executing command(queryId=hive_20191112201616_d5469a5c-ece0-4565-932f-a3c0038f74a4); Time taken: 15.941 seconds
INFO  : OK
+----------------------------+---------------+-------------------+--+
|        country_name        | country_code  |       2010        |
+----------------------------+---------------+-------------------+--+
| World                      | WLD           | 65906150720610.2  |
| High income                | HIC           | 45187761296453.4  |
| OECD members               | OED           | 44588338316642.4  |
| Post-demographic dividend  | PST           | 42396023961852.1  |
| IDA & IBRD total           | IBT           | 21396210564680.8  |
| Europe & Central Asia      | ECS           | 20905471026131.4  |
| Low & middle income        | LMY           | 20662142675904.1  |
| Middle income              | MIC           | 20431462486141.4  |
| IBRD only                  | IBD           | 19954364474673.9  |
| European Union             | EUU           | 16977855795546.3  |
+----------------------------+---------------+-------------------+--+
10 rows selected (16.098 seconds)
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

### 2- ¿Cuáles son los 10 paises que tienen mayor GDP medio en la decada de 2010?

In [24]:
%%writefile consulta_2.hql

SELECT name, code, avg_country_2 
FROM ejer2_hive.VistaTablaExternaGDP 
ORDER BY avg_country_2 DESC 
LIMIT 10;

Overwriting consulta_2.hql

In [25]:
#+----------------------------+-------+--------------------------------------+--+
#|            name            | code  |            avg_country_2             |
#+----------------------------+-------+--------------------------------------+--+
#| World                      | WLD   | 74256883825525.1                     |
#| High income                | HIC   | 48311785768532.75714285714285714286  |
#| OECD members               | OED   | 47411797217976.1                     |
#| Post-demographic dividend  | PST   | 44999128842638.42857142857142857143  |
#| IDA & IBRD total           | IBT   | 26684814058083.84285714285714285714  |
#| Low & middle income        | LMY   | 25902637587038.92857142857142857143  |
#| Middle income              | MIC   | 25591493690219.18571428571428571429  |
#| IBRD only                  | IBD   | 24849753693843.94285714285714285714  |
#| Europe & Central Asia      | ECS   | 21946805108940.92857142857142857143  |
#| East Asia & Pacific        | EAS   | 20710612806670.92857142857142857143  |
#+----------------------------+-------+--------------------------------------+--+

In [26]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f consulta_2.hql

2019-11-12 20:16:29,345 WARN  [main] mapreduce.TableMapReduceUtil: The hbase-prefix-tree module jar containing PrefixTreeCodec is not present.  Continuing without it.
scan complete in 2ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.7.0)
Driver: Hive JDBC (version 1.1.0-cdh5.7.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default> SELECT name, code, avg_country_2
0: jdbc:hive2://localhost:10000/default> FROM ejer2_hive.VistaTablaExternaGDP
0: jdbc:hive2://localhost:10000/default> ORDER BY avg_country_2 DESC
0: jdbc:hive2://localhost:10000/default> LIMIT 10;
INFO  : Compiling command(queryId=hive_20191112201616_050a9537-48ac-49d9-a952-abb09f88db56): SELECT name, code, avg_country_2
FROM ejer2_hive.VistaTablaExternaGDP
ORDER BY avg_country_2 DESC
LIMIT 10
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:name, type:string, comment:null), FieldSchema(name:code, type:string, comment:null), FieldSchema(name:avg_country_2, type:decimal(38,20), comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201616_050a9537-48ac-49d9-a952-abb09f88db56); Time taken: 0.116 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201616_050a9537-48ac-49d9-a952-abb09f88db56): SELECT name, code, avg_country_2
FROM ejer2_hive.VistaTablaExternaGDP
ORDER BY avg_country_2 DESC
LIMIT 10
INFO  : Query ID = hive_20191112201616_050a9537-48ac-49d9-a952-abb09f88db56
INFO  : Total jobs = 1
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1573589502997_0010, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573589502997_0010/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573589502997_0010
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2019-11-12 20:16:35,184 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 20:16:39,348 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.35 sec
INFO  : 2019-11-12 20:16:44,514 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.5 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 500 msec
INFO  : Ended Job = job_1573589502997_0010
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.5 sec   HDFS Read: 223368 HDFS Write: 522 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 500 msec
INFO  : Completed executing command(queryId=hive_20191112201616_050a9537-48ac-49d9-a952-abb09f88db56); Time taken: 14.864 seconds
INFO  : OK
+----------------------------+-------+--------------------------------------+--+
|            name            | code  |            avg_country_2             |
+----------------------------+-------+--------------------------------------+--+
| World                      | WLD   | 74256883825525.1                     |
| High income                | HIC   | 48311785768532.75714285714285714286  |
| OECD members               | OED   | 47411797217976.1                     |
| Post-demographic dividend  | PST   | 44999128842638.42857142857142857143  |
| IDA & IBRD total           | IBT   | 26684814058083.84285714285714285714  |
| Low & middle income        | LMY   | 25902637587038.92857142857142857143  |
| Middle income              | MIC   | 25591493690219.18571428571428571429  |
| IBRD only                  | IBD   | 24849753693843.94285714285714285714  |
| Europe & Central Asia      | ECS   | 21946805108940.92857142857142857143  |
| East Asia & Pacific        | EAS   | 20710612806670.92857142857142857143  |
+----------------------------+-------+--------------------------------------+--+
10 rows selected (15.045 seconds)
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

### 3- ¿Cuáles son los 10 paises en los que hay más niñas sin escolarizar en 2010?

In [27]:
%%writefile consulta_3.hql

SELECT country_name, country_code, `2010` 
FROM ejer2_hive.TablaExternaEscolarizacion 
ORDER BY `2010` DESC 
LIMIT 10;

Overwriting consulta_3.hql

In [28]:
#+---------------------------------------------+---------------+-----------+--+
#|                country_name                 | country_code  |   2010    |
#+---------------------------------------------+---------------+-----------+--+
#| World                                       | WLD           | 31787794  |
#| IDA & IBRD total                            | IBT           | 31512640  |
#| IDA total                                   | IDA           | 24823300  |
#| Middle income                               | MIC           | 19319244  |
#| Sub-Saharan Africa                          | SSF           | 19238428  |
#| Sub-Saharan Africa (IDA & IBRD countries)   | TSS           | 19238428  |
#| Sub-Saharan Africa (excluding high income)  | SSA           | 19238388  |
#| Pre-demographic dividend                    | PRE           | 18051788  |
#| IDA only                                    | IDX           | 15958392  |
#| Lower middle income                         | LMC           | 15397692  |
#+---------------------------------------------+---------------+-----------+--+

In [29]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f consulta_3.hql

2019-11-12 20:16:47,947 WARN  [main] mapreduce.TableMapReduceUtil: The hbase-prefix-tree module jar containing PrefixTreeCodec is not present.  Continuing without it.
scan complete in 4ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.7.0)
Driver: Hive JDBC (version 1.1.0-cdh5.7.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default>
0` jdbc:hive2://localhost:10000/default> SELECT country_name, country_code, `201
ion dbc:hive2://localhost:10000/default> FROM ejer2_hive.TablaExternaEscolarizac
0: jdbc:hive2://localhost:10000/default> ORDER BY `2010` DESC
0: jdbc:hive2://localhost:10000/default> LIMIT 10;
INFO  : Compiling command(queryId=hive_20191112201616_17fba6a1-3c61-4a8d-84b6-16fe65210a7b): SELECT country_name, country_code, `2010`
FROM ejer2_hive.TablaExternaEscolarizacion
ORDER BY `2010` DESC
LIMIT 10
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:country_name, type:string, comment:null), FieldSchema(name:country_code, type:string, comment:null), FieldSchema(name:2010, type:decimal(38,15), comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201616_17fba6a1-3c61-4a8d-84b6-16fe65210a7b); Time taken: 0.08 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201616_17fba6a1-3c61-4a8d-84b6-16fe65210a7b): SELECT country_name, country_code, `2010`
FROM ejer2_hive.TablaExternaEscolarizacion
ORDER BY `2010` DESC
LIMIT 10
INFO  : Query ID = hive_20191112201616_17fba6a1-3c61-4a8d-84b6-16fe65210a7b
INFO  : Total jobs = 1
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1573589502997_0011, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573589502997_0011/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573589502997_0011
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2019-11-12 20:16:56,202 Stage-1 map = 0%,  reduce = 0%
INFO  : 2019-11-12 20:17:00,458 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.12 sec
INFO  : 2019-11-12 20:17:06,701 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.25 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 250 msec
INFO  : Ended Job = job_1573589502997_0011
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.25 sec   HDFS Read: 75242 HDFS Write: 335 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 250 msec
INFO  : Completed executing command(queryId=hive_20191112201616_17fba6a1-3c61-4a8d-84b6-16fe65210a7b); Time taken: 17.699 seconds
INFO  : OK
+---------------------------------------------+---------------+-----------+--+
|                country_name                 | country_code  |   2010    |
+---------------------------------------------+---------------+-----------+--+
| World                                       | WLD           | 31787794  |
| IDA & IBRD total                            | IBT           | 31512640  |
| IDA total                                   | IDA           | 24823300  |
| Middle income                               | MIC           | 19319244  |
| Sub-Saharan Africa                          | SSF           | 19238428  |
| Sub-Saharan Africa (IDA & IBRD countries)   | TSS           | 19238428  |
| Sub-Saharan Africa (excluding high income)  | SSA           | 19238388  |
| Pre-demographic dividend                    | PRE           | 18051788  |
| IDA only                                    | IDX           | 15958392  |
| Lower middle income                         | LMC           | 15397692  |
+---------------------------------------------+---------------+-----------+--+
10 rows selected (17.897 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

### 4-  ¿Cuál fue el GDP en 2015 del pais que ese año tuvo 8339 niñas sin escolarizar?

In [30]:
%%writefile consulta_4.hql
SELECT gdp.`2015` 
FROM ejer2_hive.TablaExternaGDP gdp 
JOIN ejer2_hive.TablaExternaEscolarizacion esc 
    ON gdp.country_code = esc.country_code 
WHERE esc.`2015`= 8339;

Overwriting consulta_4.hql

In [31]:
#+-------------------+--+
#|     gdp.2015      |
#+-------------------+--+
#| 357949199759.586  |
#+-------------------+--+

In [32]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f consulta_4.hql

2019-11-12 20:17:10,812 WARN  [main] mapreduce.TableMapReduceUtil: The hbase-prefix-tree module jar containing PrefixTreeCodec is not present.  Continuing without it.
scan complete in 2ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.7.0)
Driver: Hive JDBC (version 1.1.0-cdh5.7.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default> SELECT gdp.`2015`
0: jdbc:hive2://localhost:10000/default> FROM ejer2_hive.TablaExternaGDP gdp
ion esc hive2://localhost:10000/default> JOIN ejer2_hive.TablaExternaEscolarizac
ode dbc:hive2://localhost:10000/default>     ON gdp.country_code = esc.country_c
0: jdbc:hive2://localhost:10000/default> WHERE esc.`2015`= 8339;
INFO  : Compiling command(queryId=hive_20191112201717_a2dc0ab8-aede-4409-9a25-6dd1f933ad21): SELECT gdp.`2015`
FROM ejer2_hive.TablaExternaGDP gdp
JOIN ejer2_hive.TablaExternaEscolarizacion esc
    ON gdp.country_code = esc.country_code
WHERE esc.`2015`= 8339
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:gdp.2015, type:decimal(38,15), comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20191112201717_a2dc0ab8-aede-4409-9a25-6dd1f933ad21); Time taken: 0.205 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20191112201717_a2dc0ab8-aede-4409-9a25-6dd1f933ad21): SELECT gdp.`2015`
FROM ejer2_hive.TablaExternaGDP gdp
JOIN ejer2_hive.TablaExternaEscolarizacion esc
    ON gdp.country_code = esc.country_code
WHERE esc.`2015`= 8339
INFO  : Query ID = hive_20191112201717_a2dc0ab8-aede-4409-9a25-6dd1f933ad21
INFO  : Total jobs = 1
INFO  : Starting task [Stage-4:MAPREDLOCAL] in serial mode
INFO  : Execution completed successfully
INFO  : MapredLocal task succeeded
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-3:MAPRED] in serial mode
INFO  : Number of reduce tasks is set to 0 since there's no reduce operator
INFO  : Starting Job = job_1573589502997_0012, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1573589502997_0012/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1573589502997_0012
INFO  : Hadoop job information for Stage-3: number of mappers: 1; number of reducers: 0
INFO  : 2019-11-12 20:17:23,330 Stage-3 map = 0%,  reduce = 0%
INFO  : 2019-11-12 20:17:29,730 Stage-3 map = 100%,  reduce = 0%, Cumulative CPU 2.15 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 150 msec
INFO  : Ended Job = job_1573589502997_0012
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-3: Map: 1   Cumulative CPU: 2.15 sec   HDFS Read: 216805 HDFS Write: 17 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 150 msec
INFO  : Completed executing command(queryId=hive_20191112201717_a2dc0ab8-aede-4409-9a25-6dd1f933ad21); Time taken: 18.247 seconds
INFO  : OK
+-------------------+--+
|     gdp.2015      |
+-------------------+--+
| 357949199759.586  |
+-------------------+--+
1 row selected (18.605 seconds)
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default